@mixin mycollab-document {

  .v-label.volumeUsageInfo {
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 25px solid gray;
    height: 0;
    overflow: visible;
    div {
      position: relative;
      margin-top:-20px;
      text-align: center;
    }
  }
}