@mixin mycollab-tooltip {
  .v-tooltip, .v-sa .v-tooltip  {
    font: $font-small $font-family !important;
    border: 1px solid $my-separator-color;
    max-width: 60em;
    max-height: 60em;
    @include my-box-shadow;
  }

  .v-tooltip .v-tooltip-text {
    max-height: 80em;
    overflow: hidden;
    tr {
      line-height: 1.5;
    }
    a {
      vertical-align: top;
    }
  }

  .stickytooltip {
    border: 1px solid $my-separator-color;
    display: none;
    position: absolute;
    display: none;
    background-color: $v-tooltip-background-color;
    @include my-box-shadow;
    //Keep tooltip overlay vaadin windows dialog
    z-index: 10001;
    font-size: $font-small;
    tr {
      line-height: 1.5;
    }
  }

  .stickytooltip a, .v-tooltip-text a {
    vertical-align: top;
  }
}
