@mixin mycollab-project {
  /* Project Management */

  .v-csslayout.project-module {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
  }

  /* Project Page View */
  .project-module .page-view.v-margin-left, .accountViewContainer .page-view.v-margin-left {
    padding-left: 30px;
  }

  .project-module .page-view.v-margin-right, .accountViewContainer .page-view.v-margin-right {
    padding-right: 30px;
  }

  .projectDashboardView {
    display: block;
    .container-wrap.main-content {
      .top-panel {
        background-color: #FFF;
        border-bottom: 1px solid $my-separator-color;
        padding: 10px 30px;
      }
    }
    .sidebar-menu {
      padding: 0px;
      .v-button-wrap .v-icon {
        font-size: $font-x-large;
      }
    }
    .addViewLayout {
      padding: 0px 30px 10px;
    }
  }

  /* My Project List */
  .v-popupbutton-popup-myprojectlist, .myprojectlist {
    background-color: white;
    .contentWrapper {
      border-style: solid;
      border-width: 1px 0px 0px 0px;
      border-color: $my-border-color;
    }
    .projectblock {
      padding: 0px;
      background-color: #FFF;
      border-color: $my-separator-color;
      border-width: 0px 1px 1px;
      border-style: solid;
      &:hover {
        @include hover-effect();
      }
      .projectlink-wrapper, .projectlink-wrapper-archived {
        border-right: 1px solid $my-separator-color;
        padding: 10px 15px 8px;
      }
      .projectlink-wrapper {
        background-color: lavenderblush;
        &:hover {
          @include hover-effect();
        }
      }
      .projectlink-wrapper-archived {
        background-color: darkgray;
        &:hover {
          @include hover-effect();
        }
      }
    }
  }

  .project-status {
    .v-verticallayout {
      @include margin-container(8px, 15px, 5px, 15px);
    }
  }

  .instruction-box {
    background-color: $my-block-background-color;
    padding: 10px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin-top: 15px;
  }

  /* Messages */
  .message-toppanel-body {
    @include margin-container(7px, 5px, 7px, 18px);
  }

  .message-list {
    .beanlist-content {
      padding: 5px 15px;
      background: none no-repeat left top #FFF;
      border-width: 0px 1px 1px;
      border-style: solid;
      border-color: $my-border-color;
    }
    .v-csslayout-beanlist-content > .v-csslayout-margin > .v-csslayout-container > div {
      display: inline-block;
      zoom: 1;
      *display: inline;
      position: relative;
    }
  }

  .message .message-container {
    .v-verticallayout {
      display: block;
    }
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: $my-block-background-color;
    border: 1px solid $my-separator-color;
    border-radius: 5px;
    position: relative;
    overflow: visible;
    &:before {
      content: "";
      position: absolute;
      border-style: solid;
      /* reduce the damage in FF3.0 */
      display: block;
      width: 0;
      top: 9px;
      /* controls vertical position */
      left: -11px;
      /* value = - border-left-width - border-right-width */
      border-width: 11px 11px 11px 0;
      border-color: transparent $my-separator-color;
      border-radius: 0px;
    }
    &:after {
      content: "";
      position: absolute;
      border-style: solid;
      display: block;
      width: 0;
      top: 10px;
      left: -10px;
      border-width: 10px 10px 10px 0;
      border-color: transparent $my-block-background-color;
      border-radius: 0px;
    }
  }

  .message {
    &.important-message .message-container {
      border-color: #ff9339;
      &:before {
        border-color: transparent #ff9339;
      }
    }
  }

  .message-header {
    .post-owner {
      color: #525252;
    }
    &.v-margin-top {
      padding-top: 10px;
    }
    &.v-margin-left {
      padding-left: 10px;
    }
    &.v-margin-right {
      padding-right: 10px;
    }
  }

  .message-header {
    .notification {
      color: black;
      font-size: $font-normal;
    }
    .comment-count {
      padding-right: 3px;
    }
    .attachment-count {
      padding-right: 3px;
      padding-left: 5px;
    }
  }

  .message-body p {
    margin: 4px 0px;
    color: $my-meta-color;
  }

  .message .message-footer {
    padding: 0px;
  }

  /* End Messages */

  .message-toppanel {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid $my-separator-color;
    background: none no-repeat left top $my-background-color;
    border-radius: 0px;
  }

  .projectinfo-header, .message-toppanel-header {
    font-size: $font-normal;
    border-bottom: 1px solid $my-border-color;
    padding-bottom: 3px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: none no-repeat left top $my-panel-background-color;
    border-radius: 0px;
  }

  .message-toppanel-header {
    @include margin-container(3px, 10px, 2px, 18px);
  }

  .projectinfo-footer {
    @include margin-container(5px, 5px, 5px, 18px);
  }

  .projectfeed-hdr-wrapper {
    background: none repeat-x left bottom cadetblue;
    padding: 15px 30px;
    .h1 {
      padding: 0px;
      color: white;
    }
    .h2, .v-button-link .v-button-caption, .v-button-link .v-icon, .v-label, .v-label a  {
      color: white;
    }
  }

  .member-preview-form {
    border: 1px solid $my-separator-color;
    padding: 30px;
    background-color: $my-block-background-color;
    div.v-csslayout.member-block {
      border-radius: 0px;
      border: none;
      padding: 0px;
      margin: 0px;
      width: 350px;
    }
    .member-block .member-info.v-margin-left {
      padding-left: 20px;
    }
  }

  .project-tableless {
    display: table;
    width: 100%;
    &:hover {
      background-color: beige;
    }
    .columnExpand {
      display: table-cell;
      line-height: 20px;
      padding: 5px;
      padding-left:0px;
    }
    .column100 {
      display: table-cell;
      width: 100px;
      padding: 5px;
      padding-left:0px;
    }
    .column200 {
      display: table-cell;
      width: 160px;
      padding: 5px;
      padding-left:0px;
    }
  }

  /* Form Container View Field */

  .bug-attached {
    background: none;
    padding: 0px 7px 1px;
    margin-right: 2px;
    color: #3333EC;
    pointer: none;
  }
  /* End Form Container View Field */

  .v-button.add-project-btn {
    border: none;
    border-radius: 10px;
    background-color: #17D61B;
    .v-button-wrap, &:active .v-button-wrap {
      padding: 0px;
      text-align:center;
    }
    .v-button-wrap .v-button-caption {
      font-size: $font-larger;
      line-height: 20px;
      font-weight: bold;
      color: #FFF;
    }
  }

  div.v-csslayout.followers-container {
    @include flex-compatible;
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    flex-wrap: wrap;
    -ms-writing-mode:lr-tb;
    .v-checkbox {
      margin-right: 10px;
    }
  }

  .project-tag-comp {
    @include flex-compatible;
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    flex-wrap: wrap;
    -ms-writing-mode:lr-tb;
    padding: 0px 30px 10px 20px;
  }

  .v-csslayout.tag-block {
    @include flex-compatible;
    margin: 0px 10px 5px 0px;
    background-color:bisque;
    height: 19px;
    .v-button.link:focus .v-button-wrap, .v-button-wrap,  .v-pressed .v-button-wrap {
      padding: 2px 5px 0px 5px;
    }
    .remove-btn-sup .v-button-wrap {
      background-color: bisque;
      padding: 0px;
      margin: 0px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-image-width: 0;
      .v-icon {
        font-size: 10px;
        height: 19px;
      }
    }
  }

  /* Pages List View */
  .pages-list-layout {
    padding-top: 12px;
    &:after {
      content: "";
      width: 100%;
      border-bottom: 1px solid $my-separator-color;
      display: block;
    }
    .page-item-block {
      border-top: 1px solid $my-separator-color;
      padding: 6px 24px 6px 0px;
    }
  }

  /* Page Read View */

  .page-read-layout {
    border-bottom: 1px solid $my-separator-color;
  }

  .searchitems-layout {
    .project-item-search-box {
      border-bottom: 1px solid $my-separator-color;
      .footer {
        border-style:none;
        color: $my-meta-color;
        font-size: $font-small;
      }
    }
  }

  .footer2 {
    border-style:none;
    color: $my-meta-color;
    font-size: $font-small;
    @include flex-compatible;
  }

  .v-csslayout.tagcloud {
    border-style: solid;
    border-top-style: none;
    border-width: 1px;
    border-color: $my-border-color;
    .tagbutton {
      margin: 2px;
      &.selected {
        background-color:blue;
      }
      &.nonselected {
        background-color:red;
      }
    }
  }

  /* Stand Up List View */

  .v-label.standup-row-content {
    padding: 10px 0px 10px 0px;
    font-size: $font-normal;
    width: 100%;
    white-space: normal;
    ul {
      padding-left: 14px;
      margin: 0px;
    }
  }

  /* End Stand Up List View */

  div.v-csslayout.member-token{
    cursor: text;
    .v-textfield {
      border: 0px solid white;
      &:focus {
        @include box-shadow(none);
      }
    }
    .v-button:focus:after {
      border-color: inherit;
      @include box-shadow(none);
    }
    .v-button-small {
      margin-top: 2px;
    }
  }

  div.v-button.token-field {
    background-color:antiquewhite;
    height: 32px;
    margin-right: 5px;
    margin-bottom: 5px;
    &:hover {
      background-color:antiquewhite;
    }
  }

  /* StandUp Report List */

  .standup-calendar .selected-ext {
    border: 1px solid #EE7C08;
  }

  .addViewLayout .standup-edit-layout .h2 {
    border-bottom: none;
  }

  .standup-block {
    background-color: $my-background-color;
    border: 1px solid $my-border-color;
    .report-content {
      border-left: 1px solid $my-border-color;
      background-color: #FFF;
      @include margin-container(20px, 20px, 20px, 20px);
      .v-label.h2 {
        color: #a56116;
        font-size: $font-large;
      }
    }
  }

  /* End StandUp Report List */

  /* Milestone View */

  .milestone-view {
    padding: 0px 0px 30px;
  }

  .milestone-view-table {
    width: 100%;
    height: 100%;
  }

  .milestone-view-header {
    text-align: center;
    height: 30px;
    .v-label {
      font-size: $font-normal;
      font-weight: bold;
    }
  }

  .milestone-view-body {
    width: 33%;
    background-color: #FFF;
    padding: 0px;
    .milestone-col {
      padding: 0px 25px 25px;
    }
    > div > div > div > div:first-child > div > div > .milestone-box {
      border-top: none;
      margin-top: 0px;
    }
  }

  .in-progress-milestones, .future-milestones {
    border-left: 1px solid #d7d7d7;
  }

  .milestone-box {
    margin-top: 25px;
    background-color: $my-block-background-color;
    border-color: $my-separator-color;
    border-style: solid;
    border-width: 1px 1px 1px 0px;
    box-shadow: -6px 0px 0 #e3d4c7;
    padding: 12px 20px;
    .milestone-name {
      font-size: $font-large;
      border-bottom: 1px dashed #BEBEBE !important;
      padding-bottom: 8px;
    }
  }

  .v-slot-roadmap-block {
    padding-left: 20px;
    border-top: 1px solid $my-separator-color;
    .meta {
      font-size: $font-small;
      color: $my-meta-color;
    }
  }

  /* End Milestone View */

  .tasklist {
    margin-top: 10px;
    border: solid $my-separator-color 1px;
    background-color:#FFF;
    width: 100%;

    .taskrow {
      padding: 10px;
      border-style: solid;
      border-color: $my-separator-color;
      border-width: 0px 0px 1px 0px;
      &:last-child {
        border-style: none;
      }
      &:nth-child(even) {
        background-color: $my-background-color;
      }
      &:nth-child(odd) {
        background-color: #FFF;
      }

      &:hover {
        @include hover-effect();
      }
    }
  }

  .bug-component {
    margin-bottom: 5px;
    background-color: $my-background-color;
    > .v-csslayout-margin {
      border: 1px solid rgba(0, 0, 0, 0.25);
      padding-left: 5px;
    }
    .bug-name {
      font-weight: bold;
    }
    .created-time {
      color: $my-meta-color;
      font-size: $font-small;
    }
  }

  /* GANTT */
  .gantt_container {
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: $my-separator-color;
    .v-table-header-wrap {
      border-bottom: 1px solid $my-separator-color;
    }
    > div > div .v-treetable {
      .v-table-footer-wrap {
        height: 0px;
      }
    }
    .v-table-header {
      > div table .v-table-header-cell {
        .v-table-caption-container, .v-table-resizer {
          height: 44px;
        }
      }
    }
    .v-table-row-odd {
      background: white;
    }

    .v-treetable-node-open {
      background: none;
      &::before {
        content: none;
      }
      &::after {
        float:right;
        content:"\f147";
        color:black;
        font-family: FontAwesome;
        padding-right: 5px;
        padding-top: 3px;
      }
    }
    .v-treetable-node-closed {
      background: none;
      &::before {
        content: none;
      }
      &::after {
        float:right;
        content:"\f196";
        color:black;
        font-family: FontAwesome;
        padding-right: 5px;
        padding-top: 3px;
      }
    }

    .v-table-table .v-table-row-milestone {
      background-color: #C2DFFF;
    }

    .v-table-table .v-table-row-task {
      background-color: #E4F1FF;
    }

    .v-table-table tr td.v-table-cell-content {
      padding-top: 0px;
      padding-bottom: 0px;
      height: 34px;
      .v-disabled {
        opacity: 1.0 !important;
      }
      .v-label {
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      input.v-widget.v-textfield[type="text"] {
        border: none;
        background-color:transparent;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
      }
      input.v-widget.v-textfield.v-textfield-focus[type="text"], input.v-widget.v-textfield[type="text"]:hover {
        border: solid 1px $my-border-color;
        background-color:white;
      }
      border-style: solid;
      border-color: $my-separator-color;
      border-width: 0px 1px 1px 0px;
      padding-left: 12px;
    }
    .v-table-table tr:first-child td.v-table-cell-content {
      height: 34px;
    }
    .v-table-table tr td.v-table-cell-content:last-child {
       border-style: solid;
       border-color: $my-separator-color;
       border-width: 0px 0px 1px 0px;
    }
    .v-table-table tr:last-child td.v-table-cell-content {
      border-style: solid;
      border-color: $my-separator-color;
      border-bottom: 0px;
    }
    .v-table-body {
      border-style: solid;
      border-size: 1px;
      border-color: $my-separator-color;
      border-width: 0px 1px 1px 1px;
    }
  }

  .gantt .bar.v-widget {
    cursor: pointer;
  }
  /* END GANTT */

  .project-info {
    .header {
      font-size: $font-xx-large;
      color: white;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .desc {
      .v-label, .v-label a {
        font-size: $font-small;
        color: white;
      }
    }
  }

  /* TASK PRIORITY STYLES */
  $task-urgent-color: #d32d1a;
  $task-high-color: #e95948;
  $task-medium-color: #f09085;
  $task-low-color: #f7c7c1;
  $task-none-color: #b7b9b0;

  .task-urgent, .v-filterselect-item-task-urgent {
    .v-icon {
      color: $task-urgent-color;
    }
  }

  .task-urgent.v-icon {
    color: $task-urgent-color;
  }

  .task-high, .v-filterselect-item-task-high {
    .v-icon {
      color: $task-high-color;
    }
  }

  .task-high.v-icon {
      color: $task-high-color;
  }

  .task-medium, .v-filterselect-item-task-medium {
    .v-icon {
      color: $task-medium-color;
    }
  }

  .task-medium.v-icon {
    color: $task-medium-color;
  }

  .task-low, .v-filterselect-item-task-low {
    .v-icon {
      color: $task-low-color;
    }
  }

  .task-low.v-icon {
    color: $task-low-color;
  }

  .task-none, .v-filterselect-item-task-none {
    .v-icon {
      color: $task-none-color;
    }
  }

  .task-none.v-icon {
    color: $task-none-color;
  }
  /*END TASK PRIORITY STYLES*/

  /*BUG PRIORITY STYLES*/
  $bug-blocker-color: #d32d1a;
  $bug-critical-color: #e95948;
  $bug-major-color: #f09085;
  $bug-minor-color: #f7c7c1;
  $bug-trivial-color: #b7b9b0;

  .bug-blocker, .v-filterselect-item-bug-blocker {
    .v-icon {
      color: $bug-blocker-color;
    }
  }

  .bug-blocker.v-icon {
    color: $bug-blocker-color;
  }

  .bug-critical, .v-filterselect-item-bug-critical {
    .v-icon {
      color: $bug-critical-color;
    }
  }

  .bug-critical.v-icon {
    color: $bug-critical-color;
  }

  .bug-major, .v-filterselect-item-bug-major {
    .v-icon {
      color: $bug-major-color;
    }
  }

  .bug-major.v-icon {
    color: $bug-major-color;
  }

  .bug-minor, .v-filterselect-item-bug-minor {
    .v-icon {
      color: $bug-minor-color;
    }
  }

  .bug-minor.v-icon {
    color: $bug-minor-color;
  }

  .bug-trivial, .v-filterselect-item-bug-trivial {
    .v-icon {
      color: $bug-trivial-color;
    }
  }

  .bug-trivial.v-icon {
    color: $bug-trivial-color;
  }
  /*END BUG PRIORITY STYLES*/

  /*BUG SEVERITY STYLES*/
  $bug-severity-critical-color: #d32d1a;
  $bug-severity-major-color: #e95948;
  $bug-severity-minor-color: #f09085;
  $bug-severity-trivial-color: #f7c7c1;

  .bug-severity-critical, .v-filterselect-item-bug-severity-critical {
    .v-icon {
      color: $bug-severity-critical-color;
    }
  }
  .bug-severity-critical.v-icon {
    color: $bug-severity-critical-color;
  }

  .bug-severity-major, .v-filterselect-item-bug-severity-major {
    .v-icon {
      color: $bug-severity-major-color;
    }
  }
  .bug-severity-major.v-icon {
    color: $bug-severity-major-color;
  }

  .bug-severity-minor, .v-filterselect-item-bug-severity-minor {
    .v-icon {
      color: $bug-severity-minor-color;
    }
  }
  .bug-severity-minor.v-icon {
    color: $bug-severity-minor-color;
  }

  .bug-severity-trivial, .v-filterselect-item-bug-severity-trivial {
    .v-icon {
      color: $bug-severity-trivial-color;
    }
  }
  .bug-severity-trivial.v-icon {
    color: $bug-severity-trivial-color;
  }
  /*END BUG SEVERITY STYLES*/

  /* Calendar view */
  .v-calendar.assignment-calendar {
    .v-calendar-header-day {
      font-weight: bold;
    }
    .v-calendar-event.owner, .v-calendar-event-owner-all-day {
      background-color: green;
      color: white;
    }
    .v-calendar-event.otheruser, .v-calendar-event-otheruser-all-day {
      background-color: cadetblue;
      color: white;
    }
    .v-calendar-event.nonowner, .v-calendar-event-nonowner-all-day {
      background-color: brown;
      color: white;
    }
  }
  .v-label {
    &.owner {
      background-color: green;
      color:white;
      padding: 5px;
    }
    &.otheruser {
      background-color: cadetblue;
      color:white;
      padding: 5px;
    }
    &.nonowner {
      background-color: brown;
      color:white;
      padding: 5px;
    }
  }
}