@mixin mycollab-tooltip {
  .v-tooltip, .v-sa .v-tooltip  {
    font: $font-small $font-family !important;
    line-height: normal;
    border: 1px solid $my-border-color;
    outline-color: $my-border-color;
    outline:none;
    max-width: 80em;
    max-height: 80em;
  }

  .v-tooltip .v-tooltip-text {
    max-height: 80em;
    overflow: hidden;
    tr {
      line-height: 1.5;
    }
    a {
      vertical-align: top;
    }
  }
}
