@mixin project-bug {
	/*Project Task*/
	.bug-group-list {
		.list-item {
			&.bug-list-layout {
				padding: 1rem 2.5rem 1rem 1.4rem;
				border-bottom: 0.1rem solid #DDDDDD;
				color: #8C8C8C;
				.bug-list-name {
					color: $primary-blue;
					font-size: 1.4rem;
				}
				.last-updated-time {
					font-size: 1.1rem;
				}
				.active-bug-num {
					font-size: 1.1rem;
					color: white;
					background-color: rgb(124, 124, 124);
					padding: 0.2rem 0.5rem;
					border-radius: 0.3rem;
				}
			}
		}
	}
	.bug-list {
		.list-item {
			&.bug-layout {
				padding: 1rem 2.5rem 1rem 1.4rem;
				border-bottom: 0.1rem solid $gray-border;
				color: #8C8C8C;
				.priority-lbl {
					padding: 0.2rem 0.4rem;
					font-size: 0.9rem;
					color: rgb(255, 255, 255);
					text-transform: uppercase;
					&.low-lbl {
						background-color: $low-priority;
					}
					&.medium-lbl {
						background-color: $medium-priority;
					}
					&.high-lbl {
						background-color: $high-priority;
					}
					&.urgent-lbl {
						background-color: $urgent-priority;
					}
				}
				.bug-key {
					color: $primary-blue;
				}
				.bug-name {
					padding-top: 0.3rem;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
			}
		}
	}
}