.idea/
**/rebel.xml
*.iml
mycollab-test/src/main/resources/mycollab-test.properties
**/velocity.log
target/
bin/
mycollab.out
mycollab-app-premium/.mycollab
mycollab-services-premium/.mycollab
dependency-reduced-pom.xml
.mycollab
mycollab-app-premium/src/main/repo2/
mycollab-services-ondemand/wiki-repo-test
mycollab-services-premium/repo-test/
mycollab-services-premium/wiki-repo-test/
