mycollab-web/.settings
mycollab-web/.springBeans
mycollab-core/.settings
mycollab-services/.settings/org.eclipse.jdt.core.prefs
mycollab-test/.settings/org.eclipse.jdt.core.prefs
.idea/
**/rebel.xml
pom.xml.versionsBackup
*.iml
mycollab-test/src/main/resources/mycollab-test.properties
mycollab-services/velocity.log
pom.xml.versionsBackup
mycollab-mobile/src/main/resources/VAADIN/themes/mycollab-mobile/common.css
mycollab-mobile/src/main/resources/VAADIN/themes/mycollab-mobile/mycollab-mobile.css
target/
bin/
mycollab-executor/dependency-reduced-pom.xml
