mycollab-web/bin
mycollab-web/build
mycollab-web/target
mycollab-web/.settings
mycollab-web/.classpath
mycollab-web/.project
mycollab-web/.springBeans
mycollab-core/bin
mycollab-core/target
mycollab-core/.classpath
mycollab-core/.project
mycollab-core/.settings
mycollab-parent/.settings
mycollab-parent/.classpath
mycollab-parent/.project
.metadata
Servers
RemoteSystemsTempFiles
MyCollabMobile/bin
