@mixin section-header() {
  padding: $my-space 0px;
  color: $my-title-color;
  border-bottom: 1px solid $my-separator-color;
  .v-label {
    font-size: $v-font-size--h3;
  }
}

@mixin mycollab-form {
  .form {
    .section {
      @include section-header();
    }
  }

  .v-gridlayout.colored-gridlayout {
    .gridform-caption, .gridform-field {
      @include margin-container(8px, 8px, 4px, 0px);
    }
    .v-gridlayout-slot {

    }
    .gridform-field {
        padding-top: 10px !important;
    }
    .gridform-caption {
      span {
        text-align: right;
        color: $my-meta-color;
      }
    }
  }
  .borderless .v-gridlayout-slot {
    border: none !important;
  }

  /* Activity component style */
  .activity-comp {
    .section {
      @include section-header();
    }
  }
}