@mixin section-header() {
  padding: $my-space 0px;
  color: $my-link-color;
  border-bottom: 1px solid $my-separator-color;
  .v-label {
    font-size: $v-font-size--h3;
  }
}

/** Form
* Custom required indicator. Remove the default required indicator and replace the new one
**/
.required-field-indicator::after {
  content: ' (*Required)';
  color: $my-meta-color;
  font-size: small;
}

.v-required-field-indicator {
  display: none !important;
}

@mixin mycollab-form {
  .form {
    .section {
      @include section-header();
    }
  }

  .colored-gridlayout {
    .rl-row {

    }
    .gridform-caption, .gridform-field {
      @include margin-container(8px, 4px, 8px, 4px);
    }

    .gridform-caption {
      .v-label {
        text-align: left;
        color: $my-meta-color;
      }
    }
  }
  .borderless .v-gridlayout-slot {
    border: none !important;
  }

  /* Activity component style */

  .section {
    @include section-header();
  }

}