@mixin project-bug {

  /*BUG SEVERITY STYLES*/
  $bug-severity-critical-color: #d32d1a;
  $bug-severity-major-color: #e95948;
  $bug-severity-minor-color: #f09085;
  $bug-severity-trivial-color: #f7c7c1;

  .bug-severity-critical, .v-filterselect-item-bug-severity-critical {
    .v-icon {
      color: $bug-severity-critical-color;
    }
  }
  .bug-severity-critical.v-icon {
    color: $bug-severity-critical-color;
  }

  .bug-severity-major, .v-filterselect-item-bug-severity-major {
    .v-icon {
      color: $bug-severity-major-color;
    }
  }
  .bug-severity-major.v-icon {
    color: $bug-severity-major-color;
  }

  .bug-severity-minor, .v-filterselect-item-bug-severity-minor {
    .v-icon {
      color: $bug-severity-minor-color;
    }
  }
  .bug-severity-minor.v-icon {
    color: $bug-severity-minor-color;
  }

  .bug-severity-trivial, .v-filterselect-item-bug-severity-trivial {
    .v-icon {
      color: $bug-severity-trivial-color;
    }
  }
  .bug-severity-trivial.v-icon {
    color: $bug-severity-trivial-color;
  }
  /*END BUG SEVERITY STYLES*/
}