@mixin project-message {
  /* Project Messages */
  .message-list-view, .message-read-view {
    .message-block {
      padding: 1.2rem 0.8rem 0rem 0.8rem;
      .title-row {
        padding: .5rem 0;
        .comment-count {
          font-size: 1rem;
          color: $my-white-color;
          background-color: $my-black-color;
          padding: 0.2rem 0.5rem;
          border-radius: 0.3rem;
        }
        &.has-comment {
          padding: 0.3rem 0rem;
        }
      }
      .attachment-row {
        padding: 0.3rem 0.5rem 0.4rem;
      }
    }
  }

  .message-read-view .message-block {
    border-bottom: 1px solid $my-separator-color;
    padding-bottom: 1rem;
  }

  .comment-list {
    .comment-block {
      padding: 0.8rem;
      .right-col {
        border: 1px solid $my-separator-color;
        padding: 0.5rem 0.5rem 0 0.5rem;
        border-radius: .5rem;
        &:before {
          content: "";
          position: absolute;
          border-style: solid;
          display: block;
          width: 0;
          top: 9px;
          left: -7px;
          border-width: 7px 7px 7px 0;
          border-color: transparent $my-separator-color;
          border-radius: 0px;
        }

        &:after {
          content: "";
          position: absolute;
          border-style: solid;
          display: block;
          width: 0;
          top: 9px;
          left: -6px;
          border-width: 7px 7px 7px 0;
          border-color: transparent white;
          border-radius: 0px;
        }
        .comment-content {
          padding: 0.5rem 0;
        }
        .attachment-row {
          padding: 0.3rem 0.5rem 0.4rem;
        }
      }
    }
  }
}