@mixin mycollab-shared {
  a {
    text-decoration:none;
    &:visited, &:link {
        color: #006DAC;
    }
    &.completed {
      color: black;
      text-decoration: line-through;
    }
    &.overdue {
      color:red;
    }
    &.pending {
      color: #108e2a;
    }
  }

  .list-row {
    background-color: #FFF;
    border-color: $border-color;
    border-width: 0px 1px 1px;
    border-style: solid;
    padding: 10px;
    &:nth-child(odd) {
      background-color: $background-color;
    }
    &:nth-child(even) {
      background-color: #FFF;
    }
    &:hover {
      background-color: $hover-background-color;
    }
  }

  .activity-date {
    color: gray;
    font-size: $font-small;
  }
}