$border-color: #CFCFCF;
$background-color: #F7F7F7;
$font-stack: Arial, Helvetica, sans-serif;

$font-normal: 12px;
$font-large: 14px;
$font-larger: 16px;
$font-x-large: 18px;
$font-xx-large: 24px;
$font-largest: 36px;
