/**************************/
/*        CSS reset       */
/**************************/


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, quote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {	
	line-height: 1;
}
ol, ul {
	list-style: none;
}
quote, q {
	quotes: none;
}
quote:before, quote:after, q:before, q:after {
	content: '';
	content: none;
}
:focus {
	outline: 0;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
.clear {
	clear: both;
}
/*caption, th, td {text-align: left; font-weight: normal;}
table, caption, tbody, tfoot, thead, tr, th, td {font-size:100%; vertical-align:baseline; outline:0; margin:0; padding:0;}
table { border-collapse:collapse; border-spacing: 0;}*/
/******* Default rules tags *******/
body {
	/*background: url(../images/bg_home.jpg) repeat-x left top #fdf9c1;*/
	
	color: #454545;
	font-family: "Arial","Lucida Sans Unicode", "Lucida Grande", sans-serif;
	min-width: 1024px;
	line-height: 1.5em;
}
h1 {
	font-size: 28px;
}
h2 {
	font-size: 24px;
	font-weight: normal;
}
h3 {
	color: #6b6b6b;	
	font-size: 48px;
	margin: 4px 0;
}
h4 {
	color: #797979;	
	font-size: 24px;
	margin: 4px 0;
}
h5 {
	font-size: 14px;
}
a {
	text-decoration: none;
	color: #000;
}
a:hover {
	color: #b1b0b0;
}
input, select, textarea {
	font-size: 12px;
	border: 1px solid #858585;	
}
.hidden {
	display: none!important;
}


/**********************Structure all templates**********************/
	
/* top menu style*/	

					
/* banner style */
#banner{}

/* CONTAINER STYLE */
#container {}
	
	#content {
		
	}

/* top content style*/	
#top-content {
	/*margin: 0 0 20px 0;*/
}

/* Structure all elements */
.home-mid {
	position: relative;
	width: 1024px;
	margin: 0 auto;
}
.home-mid .btn-signin {
	position: absolute;
	top: -39px;
	right: 20px;
	width: 108px;
	display: block;
	background: url(../images/btn_signin.png) no-repeat;
	color: #ffffff;	
	font-size: 16px;
	text-transform: uppercase;
	text-align: center;
	padding: 13px 0;
}
.home-mid .home-mid-top {
	/*background: url(../images/bg_home_top.png) no-repeat;*/
	width: 1024px;
	height: 9px;
}
.home-mid .home-mid-content {
	/*background: url(../images/bg_home_mid.png) repeat-y;*/
	background: none repeat scroll 0 0 #F5F5F5;
	border-color: #b6b6b6;
	border-radius:5px;
	border-style:solid;
	border-width:1px;
	width: 1024px;
	display:inline-block;
	padding: 0;
	/*padding:0 0 10px 0;*/
}

.home-mid .home-mid-bot {
	/*background: url(../images/bg_home_bot.png) no-repeat;*/
	width: 1024px;
	height: 14px;
	float: left;
}

/* pricing page*/
.sectiontableentry > .attrs_name {
	width: 150px;
}
.tb-pricing {
	width: 974px;
	padding: 20px 25px 10px 25px;
	margin: 0 auto;
}
.tb-pricing .head-tb{
	width:974px;
	height:280px;
	position:relative;
}
.tb-pricing .block {
	text-align:center;
	width:166px;
	padding:20px 0px 5px;
	background:url(../images/shape_2_new.png) left top no-repeat;
	position:absolute;
	right:659px;
	bottom:0;
}
.tb-pricing .block1{
	right:494px;
}
.tb-pricing .block2{
	right:330px;
}
.tb-pricing .block3{
	right:165px;
}
.tb-pricing .block4{
	right: 0px;
}
.tb-pricing .block.prefered {
	background:url(../images/shape_3.png) left top no-repeat;
}
.tb-pricing .block h3 {	
	font-size:24px;
	font-weight:normal;
	color:#3d3d3d;
	line-height: 36px;
	padding: 0 0 25px 0;
}
.tb-pricing .block.prefered h3{
	color:#fff;
}
.tb-pricing .block p {	
	font-size:12px;
	color:#373737;
	line-height:20px;
	padding: 0 0 15px 0;
}
.tb-pricing .block p.button a {	
	font-size:14px;
	color:#f2f2f2;
	width:135px;
	height:47px;
	display:inline-block;
	background:url(../images/btn_star_gray.png) 0 0 no-repeat;
	text-align:center;
	line-height:28px;
	padding: 12px 0 0 0;
	margin: 0 auto;
}
.tb-pricing .block p.button a:hover {
	background:url(../images/btn_star_orange.png) 0 0 no-repeat;
}
.tb-pricing .block.prefered p.button a{
	background:url(../images/btn_star_orange.png) 0 0 no-repeat;
}
.tb-pricing .block span.price {	
	font-size:30px;
	color:#272626;
	font-weight:bold;
	line-height:48px;
}
.tb-pricing .block.prefered span.price{
	color:#ff0c17;
	padding: 25px 0px 18px;
	display: block;
}
.tb-pricing .block span.small {	
	font-size:12px;
	color:#6c6c6c;
}
.tb-pricing table {
	border-color: #ccc;
	border-style: solid;
	border-width: 0 0 1px 0;
	width: 974px;
}
.tb-pricing table td {
	border-color: #ccc;
	border-style: solid;
	border-width: 1px 0 0 1px;
	padding: 10px;
	text-align: left;
}
.tb-pricing table td.last {
	border-width: 1px 1px 0 1px;
}

.tb-pricing table thead th a {
	background: url(images/btn_star_gray.png) no-repeat;
}

.tb-pricing table thead th {
	color: #373737;
	border-width: 0 0 0 0;	
	font-size: 14px;
	text-align: center;
}
.tb-pricing table thead th.first, .tb-pricing table thead th.last{
	background:url(../images/shape_2.png) bottom center no-repeat;
}
.tb-pricing table thead th.center{
	background:url(../images/shape_3.png) bottom center no-repeat;
}
.tb-pricing table thead .sectiontableentry2{
	color: #f2f2f2;
	border-width: 0 0 0 0;	
	font-size: 18px;
	text-align: center;
	height: 50px;
}

.tb-pricing table thead th small {
	color: #6c6c6c;	
	font-size: 12px;
}

.tb-pricing table tbody td {
	color: #757575;	
	font-size: 15px;
}
.tb-pricing table td.first, .tb-pricing table td.center, .tb-pricing table td.last, .tb-pricing table th.first, .tb-pricing table th.center, .tb-pricing table th.last {
	text-align: center;
	width: 180px;
}
.tb-pricing table .onecol td.blank {
	border-bottom: 1px solid #cad7e2;
	border-top: 1px solid #cad7e2;	
	font-size: 100%;
	text-align: left;
}
.tb-pricing table .sectiontableentry1 td.blank, .tb-pricing table .sectiontableentry2 td.blank, .tb-pricing table .sectiontableentry1 th.blank, .tb-pricing table .sectiontableentry2 th.blank {
	border-color: #fff;
	background: #fff;
}
.tb-pricing table .tb-typo-btn.btn-rounded.tb-typo-btn-small {
	display: inline-block;
	margin: 0;
	padding: 5px 25px;
}
.tb-pricing table td img {
	margin-right: 5px;
}
.tb-pricing a.btn-big-1 {
	float: right;
	margin-right: 0;
}
.tb-pricing h1 a.btn-big-1 {
	font-size: 60%;
	margin: 0;
}
.tb-pricing-item {
	margin: 0 9px;
}
.tb-pricing-list {
	background: #e8f0f8;
	margin-bottom: 15px;
	padding: 10px;
}
.tb-pricing-list .tb-box-ct {
	background: #fff;
}
.tb-pricing-list .tb-divinner {
	margin: 0 10px;
	border-bottom: 1px solid #e8f0f8;
}
.tb-pricing-list h3 {
	margin: 0 0 10px 0;
}

.home-mid .price-plan {
	width: 236px;
	float:left;
	margin: 0 0 0 20px;
}

.home-mid .price-plan li {
	display:block;
	color: #797979;
	font-size: 12px;
	line-height: 32px;
	text-align: center;	
	background: url(../images/shape_1.png) bottom center no-repeat;
	padding: 30px 0;
}

.home-mid .price-plan li.last{
	background:none;
	padding: 30px 0 0 0;
}

.home-mid .price-plan-photo {	
	width: 479px;
	height: 490px;
	padding: 45px 10px 10px;
	margin: 0;
	float:right;
	text-align: center;
}

.home-mid .price-plan-photo img {
	margin: 0 0 20px 0;
}

.home-mid  .price-plan-photo .btn-plan {
	width:465px;
	height: 89px;
	display:inline-block;
	background: url(../images/btn_pricing.png) 0 0 no-repeat;
	color: #ffffff;	
	font-size: 25px;
	text-align: center;
	line-height: 82px;
	margin: 0 0 0 8px;
}

.home-mid .privacy-content {
	width: 1024px;
	display: inline-block;
	padding: 0 0 25px 0;
}

.home-mid .privacy-box {
	background: #F5F5F5;
	border-radius: 8px;
	width: 530px;
	float: left;
	padding: 10px 20px;
}

.home-mid .privacy-box h3 {
	width: 500px;
	font-size: 18px;	
	line-height: 20px;
	font-weight:normal;
	padding: 0 0 5px 0;
}

.privacy-box .list-privacy{
	padding: 0 0 0 25px;
}

.privacy-box .list-privacy li {
	color: #797979;
	font-size: 13px;
	line-height: 20px;
	text-align: left;
	padding: 0 0 8px 0;
	list-style:disc;
	
}

.home-mid .privacy-photo {
	float: right;
}
.home-mid .privacy-left {
	width: 570px;
	float: left;
}
.home-mid .list-privacy{
	padding: 0 0 0 15px;
}

.home-mid .list-privacy li{
	list-style: disc;
	padding: 0 5px;
}

.home-mid .privacy-left li {
	color: #797979;
	font-size: 13px;
	text-align: left;
	line-height: 1.5em;
}
.home-mid .privacy-left .li-header {
	font-size: 18px;
	line-height: 20px;
	padding: 8px 0;
	color: rgb(17, 17, 17);
}

.home-mid .privacy-right {
	width: 430px;
	float: right;
}
.home-mid .privacy-right li {
	color: #797979;
	font-size: 13px;
	text-align: left;
	line-height: 1.5em;
	
}
.home-mid .privacy-right .li-header {
	font-size: 18px;
	padding: 10px 0;
	color: rgb(17, 17, 17);
}

.home-mid .privacy-right .li-title {
	font-size: 20px;
	line-height: 26px;
	padding: 10px 0;
	color: rgb(17, 17, 17);
}

#content-mid .plan-section
{
	width: 1024px;
	margin: 0 auto;
	position: relative;
	border: 1px solid #ddd;
	background: url(../images/plans-sprite.png?1363496680) 0 -550px repeat-x;
	border-radius: 8px;
	color: #555;
	overflow: hidden;
}

.box {
    background: none repeat scroll 0 0 #F6F6F6;
    padding: 1em 1.25em;
    line-height: 1.3em;
}

.box h2, .box h3 {
    margin: 3px 0;
    padding: 0;
}

.box h2 {
    font-size: 14px !important;
}

.box p {
    font-size: 13px !important;
}

h2 {
    font-size: 16px;
    line-height: 25px;
}

h1, h2, h3, h4, h5, h6 {
    color: #111111;
    font-family: 'arial';
    font-weight: bold;
    padding: 0;
}

.cut {
    clear: both;
    height: 1px;
    overflow: hidden;
    width: auto;
}

.gp_button
{	
	color:#ffffff;
	font-size:16px;
	line-height:34px;
	letter-spacing:1px;
	display:inline-block;
	margin-right:1px;
	padding:0 1em;
	text-decoration:none;
	border-width:1px;
	border-style:solid;
	border-radius:4px;
	background-color:#7ebd00;
	border-color: #b6b6b6;
	width: 230px;
}

.gp_button:hover
{	
	color:#ffffff;
}

.highlights {
    margin: 3.5em auto;
    max-width: 1024px;
    overflow: hidden;
    width: 100%;
    line-height: 100%;
}

.highlights dl
{	
    /*-moz-box-sizing: border-box;*/
    border-right: 1px solid #EDECE5;
    float: left;
    margin: 0;
    min-height: 170px;
    overflow: hidden;
    padding: 0 22px;
    position: static;
    width: 29%;
    line-height: 100%;
}

.highlights dl:last-child {
	padding-right: 0px;
    border-right: 0 none;
}

.highlights dt {
    font-size: 21px;
    color: #bababa;
    margin: 0;
    line-height: 100%;
}

.highlights dd {
    margin: 1em 0 1.5em;
    font-size: 12px;
    color: #9c9c9c;
    line-height: 160%;
}

.highlights a {
	color: #1b66b3;
    text-decoration: none;
    transition-duration: 0.12s;
    transition-property: all
}

.scroll-track{
 height:10px;
 width:10px;
 background:black;
}

.scroll-handle{
 border: 1px solid black;
 height:10px;
 width:10px;
 background:#5B207B;
 cursor:pointer;
}

/*
 * Nguyen Van Truc
 */
/* Header style */
#header {
	height: 50px;
	width: 100%;
	background-color: #2B98D8;
	margin-bottom: 25px;
}

.header-mid {
	width: 1100px;
	margin: 0 auto;
}

.header-mid img {
	float: left;
	margin: 4px 0px 0px 0px;
	height: 40px;
	width: auto;
}

.header-mid ul {
	list-style: none;
	float: right;
}

.header-mid ul li {
	line-height: 50px;
	display: inline-block;
	padding: 0px 15px;
	height: 50px;
	transition: 0.5s;
	margin: 0px -3px !important
}

.header-mid ul li a{	
	color: #FFFFFF;
    display: block;
    font-size: 15px;
    font-weight: bold;
    height: 50px;
}

.header-mid ul li:hover {
	background-color: #F78D13;
}

.header-mid .btn-signin {
	float: right;
	line-height: 50px;
	height: 50px;
	font-size: 13px;
	color: #FFF;
	display:inline-block;
	text-transform: uppercase;
	padding: 0px 15px;
}

.header-mid .btn-signin:hover {
	background-color: #1684c4;
}
/* End Header style */

/* Footer style */
#footer {
	width: 100%;
	height: 40px;
	background: url("../images/bg_footer.png") repeat-x transparent;
	clear: both;
}

#footer .wrapper {
	width:1100px;
	margin: 0 auto;
	padding-top: 7px;
}

.footer-copyright {
	color: #FFF;
	font-size: 12px;
	display: inline-block;
}

.footer-copyright a {
	color: #FFF;
}

.footer-copyright a:hover {
	text-decoration: underline;
	color: #FFF;
}

.footer-nav {
    float: right;
}

.footer-nav ul {
	margin: 0px;
	padding: 0px;
}

.footer-nav li {
	display: inline-block;
	font-size: 12px;
	color: #FFF;
}

.footer-nav li a {
	color: #FFF;
}

.footer-nav li a:hover {
	color: #FFF;
	text-decoration: underline;
}

.foo-cal {
	background: url("../images/icon_call.png") no-repeat left center;
	padding-left: 25px;
	
}

.foo-email {
	background: url("../images/icon_email.png") no-repeat left center;
	padding-left: 25px;
}

.foo-twitter {
	background: url("../images/icon_twitter.png") no-repeat left center;
	padding-left: 25px;
}
/* End Footer style */

/* Pricing Page style */
#content {
	width: 100%;
}

#content-mid {
	clear: both;	
}

#pricing-content {
	width: 1100px;
	margin: 0 auto;
	text-align: center;
}

.col-style1 {
	width: 224px;
	float: left;
	display: inline-block;
}

.col-style1 h1 {
	font-size: 22px;
	padding: 35px 0px 5px 0px;
	color:#118DEA;
}

.col-style2, .col-style3 {
	width: 174px;
	float: left;
	border-top: solid 1px #BCB8B8;
	border-right: solid 1px #BCB8B8;
}

.col-style2 h2 {
	background: url("../images/pricing_bg.png") no-repeat center center transparent;
	padding: 10px 0px;
}

.prig-free {
	color: #1692EF;
}

.prig-micro {
	color: #46A389;
}

.prig-compact {
	color: #F5B830;
}

.prig-corporate {
	color: #FF771B;
}

.prig-enterprise {
	color: #FF3C00;
}

.prig-description {
	background-color: #2B98D8;
	height: 35px;
	padding: 10px 3px 0px;
	font-size: 13px;
	line-height: 130%;
	color: #FFF;
}

.pricing-button {
	height: 50px;
	background-color: #2B98D8;
	display: inline-block;
	width: 100%;
}

.pricing-button a {
	width: 124px;
	height: 31px;
	background: url("../images/pricing_button.png") no-repeat center center;
	display: block;
	color: #FFF;
	padding: 5px 0px 0px 0px;
	margin: 6px auto 0px;
	font-size: 11px;
	font-family: 'Arial';
	font-weight: bold;
}

.pricing-button a:hover {
	opacity: 0.7;
}

.prig-price {
	background-color: #5D6570;
	color: #FFF;
	height: 40px;
	font-size: 26px;
	font-weight: bold;
	letter-spacing: 0.7px;
	padding: 10px 0px 0px;
}

.prig-month {
	font-size: 12px;
	letter-spacing: 0.2px;
}

.pricing-mid {
	clear: both;
	margin-bottom: 30px;
}

.prig-table {
	border-collapse: collapse;
	border: solid 1px #BCB8B8;
	font-size: 13px;
}

.prig-table tr:hover > td {
	background-color: #5D6570 !important;
	color: #FFF;
}

.prig-table tr td {
	width: 172px;
	background-color: #FAFAFA;
	border-right: solid 1px #BCB8B8;
}

.prig-table tr td img {
	padding-top: 8px;
}

.prig-mid-title {
	width: 203px!important;
	text-align: left;
	padding: 5px 0px 5px 20px;
	border-right: solid 1px #BCB8B8;
}

.prig-row-style-2 > td {
	background-color: #CCC !important;	
}

.prig-bottom {
	width: 1100px;
	margin: 0 auto 20px;
	border: solid 1px #ABABAB;
}

.prig-bottom-cnt {
	border-top: solid 15px #228BC9;	
	padding-left: 30px;
	padding-top: 20px;
}

.prig-bottom-cnt h2 {
	background: url("../images/pricing_question.png") no-repeat left center transparent;
}

.prig-block-1 {
	height: 172px;
}

.prig-block-2 {
	height: 124px;
}

.prig-border-left {
	border-left: solid 1px #ABABAB; 
}

.pricing-top-title {
	font-size: 18px;
	text-align: left;
	padding: 10px 10px 0px 15px;
}
/* End Pricing Page style */

/* Home style */
#home-content {
	width: 1100px;
	margin: 0 auto;
}

.home-banner {
	height: 240px;
	background: url("../images/home_banner_bg.jpg") no-repeat top center;
	clear: inherit;
	margin-bottom: 20px;
	background-size: 80%; 
}

.home-banner-left {
	text-align: center;
	width: 480px;
	float: left;
	padding-left: 20px;
}

.home-banner-right {
	width: 570px;
	float: right;
	text-align: left;
	padding-left: 30px;
}

.home-banner-right img {
	width: 420px;
	height: auto;
}

.home-banner-left h1 {
	font-size: 40px;
	color: #0173bd;
	font-weight: bold;
	line-height: 100%;
	padding-bottom: 15px;
}

.home-banner-left p {
	font-size: 30px;
	line-height: 100%;
	color: #0173bd;
	margin-bottom: 30px;
}

.home-button-1 {
	background-color: #1680C5;
    border-color: #0C5D91;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    height: 30px;
    letter-spacing: 1px;
    line-height: 31px;
    margin-bottom: 20px;
    margin-right: 1px;
    padding: 0;
    text-decoration: none;
    width: 140px;
}

.home-button-1:hover {	
	opacity: 0.7;
	color: #ffffff;
}

.home-button-2 {
	background-color: #F59502;
    border-color: #C47805;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 17px;
    font-weight: bold;
    height: 35px;
    letter-spacing: 1px;
    line-height: 35px;
    margin-bottom: 35px;
    margin-right: 1px;
    padding: 0;
    text-decoration: none;
    width: 280px;
}

.home-button-2:hover {	
	opacity: 0.7;
	color: #ffffff;
}

.home-box1 {
	height: 300px;
	border: solid 1px #ABABAB;
	margin-bottom: 20px;
	clear: inherit;
}

.hom-box1-title {
	border-top: solid 15px #228BC9;
	text-align: center;
	background: url("../images/home_border.png") no-repeat bottom center;
	margin-bottom: 5px;
}

.hom-box1-title h1 {
	font-size: 25px;
	color: #0173bd;
	font-weight: normal;
	padding: 7px 0 3px;
}

.hom-box1-title p {
	font-size: 20px;
	color: #0173bd;
	padding-bottom: 15px;
}

.home-coll {
	width: 475px;
	float: left;
	padding-left: 40px;
	padding-right: 32px;
}

.home-coll h2 {
	font-size: 12px;
	font-weight: bold;
	color: #242424;
	padding-left: 30px;
	height: 32px;
	padding-top: 10px;
}

.home-coll p {
	font-size: 12px;
	color: #5f5c5c;
	line-height: 150%;
	margin-bottom: 10px;
	letter-spacing: 0.3px;
	text-align: justify;
}

.home-followup {
	background: url("../images/home_icon_automatic.png") no-repeat left center;
}

.home-history {
	background: url("../images/home_icon_history.png") no-repeat left center;
}

.home-contact {
	background: url("../images/home_icon_contact.png") no-repeat left center;
}

.home-address {
	background: url("../images/home_icon_address.png") no-repeat left center;
}

.home-box2 {
	width: 1100px;
	margin: 0 auto;
	margin-bottom: 30px;
	height: 202px;
 }
 
.home-box2-coll {
 	width: 316px;
 	float: left;
 	padding: 20px 25px;
 	text-align: center;
 	clear: inherit;
 }
 
.coll-style1 {
 	background-color: #42B3E5;
}

.coll-style2 {
	background-color: #008ECD;
}

.home-box2-coll h2 {
	color: #FFF;
	font-size: 20px;
	font-weight: normal;
	padding-bottom: 25px;
	text-align: left;
}

.home-box2-coll p {
	font-size: 13px;
	color: #FFF;
	height: 70px;
	text-align: left;
	margin-bottom: 10px;
	line-height: 130%;
	text-align: justify;
}

.home-button-3 {
	color: #ffffff;
	font-size: 12px;
	line-height: 34px;
	display: inline-block;
	padding: 0px;
	text-decoration: none;
	border-width: 1px;
	border-style: solid;
	border-radius: 4px;
	background-color: #1782c6;
	border-color: #104e75;
	width: 100px;
	height: 30px;
	text-align: center;
}

.home-button-3 img {
	padding-bottom: 2px; 
}

.home-button-3:hover {
	color: #FFF;
	opacity: 0.7;
}
/* End home syte */
/* Privacy style */
#privacy-content {
	width: 1100px;
	margin: 0 auto 20px;
	border: solid 1px #ababab;
	background: url("../images/home_banner_bg.jpg") no-repeat top center;
}

.pri-top {
	text-align: center;
	border-top: solid 15px #228BC9;
	padding: 0px 30px;
	background: url("../images/home_border.png") no-repeat bottom center;
	margin-bottom: 20px;
}

.pri-top h1 {
	font-size: 35px;
	color: #228bc9;
	line-height: 100%;
	font-weight: normal;
	background: url("../images/pri_lock.png") no-repeat left center;
	display: inline-block;
	padding: 35px 0px 15px 70px;
	margin-top: 5px;
}

.pri-top p {
	font-size: 22px;
	color: #228bc9;
	margin-top: -10px;
	padding-bottom: 30px;
}

.pri-mid {
	padding: 0px 30px;
	background: url("../images/home_border.png") no-repeat bottom center;
	height: 480px;
	margin-bottom: 20px;
}

.pri-mid-left {
	width: 650px;
	float: left;
	background: url("../images/pri_border_mid.png") no-repeat bottom center transparent;
}

.pri-mid-left-cnt {
	border: solid 1px #ababab;
	margin-bottom: 17px;
	background-color: #FFF;
}

.pri-mid-left h2 {
	font-size: 16px;
	color: #FFF;
	background-color: #228bc9;
	padding: 5px 0px 5px 20px;
	font-weight: normal;
	margin-bottom: 10px;
}

.pri-mid-left p {
	padding: 0px 20px 10px 20px;
	font-size: 12px;
	color: #000;
	text-align: justify;
}

.pri-mid-right {
	float: right;
}

.pri-mid-right img {
	width: 370px;
	height: auto;
	margin-top: 60px;
}

.pri-bottom {
	clear: both;
}

.pri-bottom {
	padding: 0px 30px;
}

.pri-bott-coll {
	float: left;
    padding-left: 0px;
    width: 500px;
}

.pri-coll-1 {
	padding-right: 35px;
}

.pri-bott-block h2 {
	color: #242424;
    font-size: 12px;
    font-weight: bold;
    height: 32px;
    padding-left: 25px;
    padding-top: 10px;
}

.pri-bott-block p {
	font-size: 12px;
	color: #5f5c5c;
	padding-bottom: 10px;
	text-align:justify;
}

.pri-bott-text {
	padding-bottom: 75px!important;
}

.pri-aggrerate {
	background: url("../images/pri_aggre.png") no-repeat left center transparent;
}

.pri-links {
	background: url("../images/pri_link.png") no-repeat left center transparent;
}

.pri-cookie {
	background: url("../images/pri_cookie.png") no-repeat left center transparent;
}

.pri-protect {
	background: url("../images/pri_protect.png") no-repeat left center transparent;
}

.clear {
	clear: both;
}
/* End Privacy style */

/* Tour style */
#tour-content {
	width: 1100px;
	margin: 0 auto;
	background: url("../images/home_banner_bg.jpg") no-repeat top center;
}

.tour-top {
	text-align: center;
	background: url("../images/home_border_2.png") no-repeat bottom center;
	margin-bottom: 20px;
}

.tour-top-content {
	background: url("../images/icon_tour.png") no-repeat top left transparent;
	padding-left: 70px;
	display: inline-block;
	padding-bottom: 20px;
}

.tour-top h1 {
	font-size: 35px;
	color: #0173bd;
	font-weight: normal;
	padding-top: 40px;
	padding-bottom: 10px;
	text-align: left;
}

.tour-top .tour-top-small {
	font-size: 22px;
	padding-top: 8px;
	display: block;
}

.tour-mid-left {
	width: 240px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

.tour-mid-left h2 {
	font-size: 16px;
	font-weight: normal;
	background-color: #228bc9;
	color: #FFF;
	padding: 5px 0px 5px 20px;
}

.tour-mid-left ul li {
	padding: 5px 0px 5px 45px;
	font-size: 15px;
	background: url("../images/tour_icon_design.png") no-repeat 20px 7px;
	border-left: solid 1px #ababab;
	border-right: solid 1px #ababab;
	border-bottom: solid 1px #ababab;
	
}

.tour-mid-left ul li:hover {
	color: #FFF;
	background: url("../images/tour_icon_design.png") no-repeat 20px -33px #F78D13;
	cursor: pointer;
}

.item-active {
	color: #FFF;
	background: url("../images/tour_icon_design.png") no-repeat 20px -33px #F78D13 !important;
	cursor: pointer;
}

.tour-mid-right {
	float: right;
	width: 840px;
}

.tour-title {
	font-size: 16px;
	font-weight: normal;
	color: #228bc9;
	padding-bottom: 5px;
}

.content-1 img {
	float: left;
	margin: 0px 10px 5px 0px;
}

.content-1 p {
	font-size: 14px;
	padding-bottom: 12px;
	text-align: justify;
}

.intro-block {
	border-bottom: solid 1px #ababab;
	margin-bottom: 20px;
	clear: both;
}

.intro-block-bottom {
	margin-bottom: 20px;
}

.block-2-1 {
	width: 400px;
	float: left;
	margin-right: 30px;
}

.block-2-2 {
	float: right;
	width: 400px;
	padding-bottom: 10px; 
}

.free-trial {
	position: absolute;
	width: 100px;
	text-align: center;
	left: 10px;
	cursor: pointer;
}

.free-trial h2 {
	background-color: #F59502;
	font-size: 15px;
	font-weight: bold;
}

.free-trial p {
	color: #FFF;
	background-color: #2B97D7;
	
}

.tour-arrow {
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 20px solid #2B97D7;
	background-color: transparent!important;
}

.free-trial p span {
	font-size: 12px;
}
/* End Tour style */

/* Sign Up style */
#signup-content {
	width: 1100px;
	margin: 0 auto;
	border: solid 1px #ababab;
	margin-bottom: 20px;
	background: url("../images/home_banner_bg.jpg") no-repeat scroll center top transparent;
}

.sig-top {
	border-top: solid 16px #228bc9;
	text-align: center;
	background: url("../images/home_border.png") no-repeat scroll center bottom transparent;
	margin-bottom: 30px;
}
	
.sig-top h1 {
	font-size: 35px;
    font-weight: normal;
    line-height: 100%;
    color: #228BC9;
    padding: 20px 0px 10px;
}

.sig-top p {
	color: #228BC9;
    font-size: 22px;
    padding-bottom: 30px;
}

.sig-mid {
	padding: 0px 30px;
}

.sig-mid-left {
	width: 530px;
	margin-bottom: 30px;
	float: left;
}

.mid-left-title {
	text-align: center;
	color: #0173bd;
}

.mid-left-title h1 {
	font-size: 40px;
	color: #0173bd;
	font-weight: normal;
}

.mid-left-title p {
	font-size: 20px;
	padding: 10px 0px;
	line-height: 200%;
}

.sig-left-ctn {
	background-color: #FAFAFA;
	padding-bottom: 20px;
}

.sig-left-ctn h1 {
	background-color: #228bc9;
	font-size: 16px;
	font-weight: normal;
	color: #FFF;
	padding: 5px 0px 5px 20px;
}

.sig-mid-button {
	background-color: #e2e1e1;
	text-align: center;
	padding: 20px 0px;
}

.btn-facbook {
	border: none;
	background: url("../images/signup_facebook.png") no-repeat transparent;
	width: 236px;
	height: 39px;
	color: #FFF;
	font-size: 17px;
	font-weight: bold;
	font-family: 'Arial';
	padding-left: 30px;
	margin-right: 10px;
}

.btn-google {
	border: none;
	background: url("../images/signup_google.png") no-repeat transparent;
	width: 236px;
	height: 39px;
	color: #000;
	font-size: 17px;
	font-weight: bold;
	font-family: 'Arial';
	padding-left: 30px;
}

.sig-left-1 {
	float: left;
	padding-left: 20px;
	width: 230px;
	padding-right: 22px;
}

.sig-left-ctn p {
	font-size: 14px;
	line-height: 100%;
	padding-top: 15px;
	padding-bottom: 3px;
}

.sig-mid-left input[type="text"] {
	height: 25px;
	width: 225px;
	font-size: 14px;
	padding: 0px 5px;
}

.sig-mid-left input[type="password"] {
	height: 25px;
	width: 225px;
	font-size: 14px;
	padding: 0px 5px;
}

.timezone_input{
	height: 25px;
    padding: 0px 8px;
    width: 237px;
	cursor: pointer;
	font-size: 14px;
	border: 1px solid rgb(133, 133, 133);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	background: url("../images/signup_selectbox.png") no-repeat center right transparent;
	background-size: 10%; 
}

.timezone_value {
	display: block;
	width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

#timezone_dropdown_hidden {
	display: none;
	height: 150px;
	width: 237px;
	box-shadow: 0px 0px 20px rgb(112, 112, 112);
	position: absolute;
	z-index: 100;
	background-color: white;
	overflow-y: scroll;
	overflow-x: hidden;
}

.sig-left-chk {
	clear: both;
	padding: 15px 20px;
	line-height: 110%;
}

.sig-left-chk a {
	color: #0267a8;
}

.sig-left-chk label {
	font-size: 13px;
}

.sig-left-chk input[type="checkbox"] {
	margin: 0px;
	padding: 0px;
}

.sig-mid-left input[type="submit"] {
	font-size: 17px;
	color: #FFF;
	border-color: #116093;
	border-radius: 5px;
	padding: 8px 15px;
	display: block;
	margin: 0 auto;
	cursor: pointer;
	width: 170px;
	height: 40px;
	background-color: #228bc9;
	margin-bottom: 26px;
}

.sig-mid-left input[type="submit"]:hover {
	opacity: 0.7;
}

.sig-mid-right {
	float: right;
	width: 480px;
	text-align: center;
	background-color: #FAFAFA;
}

.sig-mid-right h1 {
	font-size: 16px;
	padding: 5px 20px;
	color: #FFF;
	font-weight: normal;
	background-color: #228bc9;
	margin-bottom: 25px;
	text-align: left;
}

.sig-mid-right img {
	width: 440px;
	height: auto;
	margin-bottom: 10px;
}

.sig-right-block {
	padding: 0px 20px;
	text-align: left;
}

.sig-right-block h2 {
	font-size: 13px;
	font-weight: bold;
	padding-left: 25px;
	background: url("../images/pricing_question.png") no-repeat scroll left center transparent;
}

.sig-right-block p {
	font-size: 12px;
	padding-bottom: 15px;
}

.sig-subdomain {
	background-color: #2B98D8;
    color: #FFFFFF;
    font-size: 14px;
    height: 25px;
    margin-left: -100px;
    margin-top: 1px;
    padding-left: 4px;
    position: absolute;
    width: 95px;	
}
/* End Sign Up style */

/* Sign In style */
#signin-content {
	width: 1100px;
	margin: 0 auto;
	background-color: #FFF;
	box-shadow: 0px 0px 5px 5px #888888;
	margin-bottom: 20px;
	border-radius: 5px;
	background-color: #F4F4F4;
}

.signin-main {
	width: 700px;
	margin: 0 auto;
	padding-top: 40px;
}

.signin-main h1 {
	font-size: 25px;
	padding-left: 35px;
	background: url("../images/signin_icon.png") no-repeat top left;
	color: #228BC9;
	margin-bottom: 20px;
	border-bottom: solid 6px #E3E3E3;
	padding-bottom: 15px;
}

.signin-subtitle {
	font-size: 16px;
	font-style: italic;
	padding-bottom: 15px; 
}

.signin-box {
	border: solid 1px #B48762;
	border-radius: 5px;
	margin-bottom: 40px;
	display: inline-block;
	width: 670px;
	padding: 15px;
}

.signin-box [type="text"] {
	height: 25px;
	border-radius: 3px;
	width: 400px;
	font-size: 16px;
	padding-left: 5px;
	padding-right: 5px;
}

.signin-box [type="submit"] {
	background-color: #4196C7;
	border-color: #506A75;
	border-radius: 5px;
	color: #FFF;
	height: 28px;
	width: 200px;
	font-size: 15px;
	float: right;
	cursor: pointer;
}

.signin-lblemail {
	padding-right: 5px;
}

.signin-radio {
	padding: 20px 0px 0px;
}

.signin-btngo {
	background-color: #BD7802;
	border: #AB8358;
	color: #FFF;
	border-radius: 5px;
	font-size: 11px;
	padding: 2px 5px;
	cursor: pointer;
	margin-left: 10px;
	font-weight: bold;
}

.signin-radio label {
	display: inline-block;
    font-size: 14px;
}
/* End Sign In style */

/* Note */
.develop {
	color: #FFF;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    padding: 14px 0 0 32px;
}
/* End Note */