#content {
	width: 860px;
	margin: 0 auto;
}

#content_left {
	width: 320px;
	padding-right: 10px;
	float: left;
}

#content_right {
	width: 480px;
	float: left;
}

#exclamation_mark {
	float: left;
	font-size: 180px;
	font-family: "Lucida Bright", Arial, sans-serif;
	font-weight: bold;
	line-height: 165px;
	color: rgb(52, 116, 176);
}

#error_display {
	float: left;
}

#error_code {
	font-size: 130px;
	line-height: 130px;
	font-family: "Lucida Bright", Arial, sans-serif;
	font-weight: bold;
	color: rgb(52, 116, 176);
}

#error_brief {
	font-size: 22px;
	text-align: center;
	color: #4a4a4a;
}

#error_excuse {
	border-left: 1px dotted rgb(124, 124, 124);
	padding-left: 30px;
}

#error_excuse p {
	font-size: 16px;
	line-height: 24px;
	color: #4a4a4a;
}

#error_excuse ul {
	font-size: 13px;
	margin: 10px 0px;
	color: rgb(124, 124, 124);
	list-style-position: inside;
	list-style-image: url('../images/list_image.gif');
}
#error_excuse ul > li {
	padding: 0px 0px 0px 20px;
	line-height: 24px;
}
#back_to_home a {
	display: block;
	height: 63px;
	width: 326px;
	background: url('../images/gray_btn.png') no-repeat 0 0 transparent;
	color: #8e8e8e;
	font-size: 21px;
	text-decoration: none;
	line-height: 63px;
	text-align: center;
	margin: 35px auto 60px;
}

#back_to_home a:hover {
	background-position: 0px -63px;
	color: #4a4a4a;
}

@media only screen and (max-width:1120px) {
	#content {
		width: 100%;
	}
	
	#content_left {
		float:none;
		margin: 0 auto;
	}
	#content_right {
		width:100%;
	}
	#error_excuse {
		padding: 0 20px;
	}
}