img {
    max-width:100%;
    height:auto;
}

body {
	min-width: 400px;
}

.header-mid {
	width: 100%;
	position:relative;
}

#header {
	height:auto;
	border-bottom: none;
	margin-bottom:0;
}
.header-mid ul {
	background: #333333;
	float:none;
	margin:0;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	overflow:hidden;
	height:0;
	border-top: solid 6px #77bae0;
}

.header-mid ul.active {
	height:300px;
}

.header-mid ul li {
	line-height:50px;
	display:block;
	height:auto;
	background-color:transparent;
	margin:none;
	
}
.header-mid ul li a {
	height:auto;
	color:#ffffff;
}
.header-mid img {
	float:none;
	margin: 20px;
	height:auto;
}

#home-content {
	margin: 0 auto;
}

#bt-main-menu {
	visibility:visible;
	display:block;
	width: auto;
	height: auto;
	position: absolute;
	top: -26px;
	right: 10px;
	top: 30px;
	background: url('../images/bt_main_menu.png') no-repeat 0 0;
	width: 50px;
	height: 40px;
	cursor:pointer;
}

#bt-main-menu.active {
	background: url('../images/bt_main_menu.png') no-repeat -50px 0;
	visibility:visible;
}

.home-banner {
	width: 100%;
	text-align: center;
	margin-bottom:0;
	height:auto;
	
}

.home-banner-left {
	width: 100%;
	float:none;
}

.home-banner-left-1 {
	text-align: center;
}

.home-banner-left-1 p {
	text-align: justify;
	padding: 20px 20px;
}

.home-banner-right {
	float: none;
	margin: 0 auto;
	width: auto;
	overflow: hidden;
	padding: 10px 0 0 0;
	height: auto;
	position:relative;
}

/* rslides */
#slider {
	display:none;	
}
.rslides {
	margin: 0 auto;
	display:block;
	width:300px;
	position:relative;
	height: 170px;
}
.centered-btns_nav, .centered-btns_tabs {
	display:inline-block;
}

.rslides_container {
  margin-bottom: 50px;
  position: relative;
  float: left;
  width: 100%;
  }

.centered-btns_nav {
  z-index: 1;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 30%;
  left: 0;
  opacity: 0.7;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background: transparent url("../images/themes.gif") no-repeat left top;
  }

.centered-btns_nav:active {
  opacity: 1.0;
  }

.centered-btns_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
  }

.transparent-btns_nav {
  z-index: 1;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 0;
  left: 0;
  display: block;
  background: #fff; /* Fix for IE6-9 */
  opacity: 0;
  filter: alpha(opacity=1);
  width: 48%;
  text-indent: -9999px;
  overflow: hidden;
  height: 91%;
  }

.transparent-btns_nav.next {
  left: auto;
  right: 0;
  }


.centered-btns_nav:focus,
.transparent-btns_nav:focus,
.large-btns_nav:focus {
  outline: none;
  }

.centered-btns_tabs,
.transparent-btns_tabs,
.large-btns_tabs {
  margin-top: 10px;
  text-align: center;
  }

.centered-btns_tabs li,
.transparent-btns_tabs li,
.large-btns_tabs li {
  display: inline;
  float: none;
  _float: left;
  *float: left;
  margin-right: 5px;
  }

.centered-btns_tabs a,
.transparent-btns_tabs a,
.large-btns_tabs a {
  text-indent: -9999px;
  overflow: hidden;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: #ccc;
  background: rgba(0,0,0, .2);
  display: inline-block;
  _display: block;
  *display: block;
  -webkit-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  -moz-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  width: 9px;
  height: 9px;
  }

.centered-btns_here a,
.transparent-btns_here a,
.large-btns_here a {
  background: #222;
  background: rgba(0,0,0, .8);
  }
/* rslides */

/* jcarousel */
.jcarousel-wrapper {
    margin: 20px auto;
    position: relative;
    border: 2px solid #fff;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 0 2px #999;
       -moz-box-shadow: 0 0 2px #999;
            box-shadow: 0 0 2px #999;
     width:270px;
}


.jcarousel-wrapper .photo-credits {
    position: absolute;
    right: 15px;
    bottom: 0;
    font-size: 13px;
    color: #fff;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.85);
    opacity: .66;
}

.jcarousel-wrapper .photo-credits a {
    color: #fff;
}

/** Carousel **/

.jcarousel {
    position: relative;
    overflow: hidden;
   	width: 270px;
	height: 550px;
	padding-top:5px;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    float: left;
}

/** Carousel Controls **/

.jcarousel-control-prev
 {
    position: absolute;
	top: 200px;
	width: 31px;
	height: 65px;
    background: url('../images/btn_mobile_nav.png') no-repeat;
   
}
.jcarousel-control-next
{
	
    position: absolute;
	top: 200px;
	width: 31px;
	height: 65px;
    background: url('../images/btn_mobile_nav.png') no-repeat 0 -65px;
}

.jcarousel-control-prev {
    left: -50px;
}

.jcarousel-control-next {
    right: -50px;
}

.jcarousel-control-prev:hover span,
.jcarousel-control-next:hover span {
    display: block;
}

.jcarousel-control-prev.inactive,
.jcarousel-control-next.inactive {
    opacity: .5 !important;
    cursor: default;
}

/** Carousel Pagination **/

.jcarousel-pagination {
    position: relative;
    bottom: 2px;
 }

.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;
    
    font-size: 11px;
    line-height: 14px;
    min-width: 14px;
    
    background: #fff;
    color: #4E443C;
    border-radius: 14px;
    padding: 3px;
    text-align: center;
    
    margin-right: 2px;
    
    opacity: .75;
}

.jcarousel-pagination a.active {
    background: #4E443C;
    color: #fff;
    opacity: 1;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
}

/* jcarousel end */

.home-mobile > p {
	float: none;
	margin: 40px 0;
	overflow: hidden;
}

.home-button-1 {
	display: inline-block;
	float: none;
}

.home-banner-left-2 span {
	display: inline-block;
	float: none;
}

.home-button-2 {
	display: inline-block;
	float: none;
}

.home-box2 {
	width: 100%;
	margin-bottom: 0;
 }
 
 .home-box2-coll {
 	width: 100%;
 	float: none;
 }
 
 .home-mobile {
 	width: 100%;
 	display:block;
 	padding: 0 0;
 	text-align: center;
 }

.home-mobile .home-mobile-info {
    float: none;
    width: 100%;
}

.home-mobile-info p {
	text-align: justify;
	padding: 0 20px;
}

.home-mobile-info h1 {
	line-height: 40px;
}
.home-mobile-info h2 {
	line-height: 40px;
}
#footer-home {
	height: auto;
}

#footer-home .wrapper {
	width: 100%;
}

.footer-copyright {
	margin: 0 auto;
}

.footer-sitemap {
	float: none;
	height:auto;
}

.footer-sitemap .sitemap-col {
	float:none;
	background:none;
	text-align: justify;
	display: block;
	width:auto;
	height:auto;
}
#footer-home .footer-copyright h1 {
	font-size: 32px;
	padding-bottom: 10px;
}

#footer-home .footer-copyright {
	font-size: 16px;
	padding-left: 30px;
}


.footer-sitemap .sitemap-col h1 {
	padding-top: 10px;
	font-size: 18px;
}
.footer-sitemap .sitemap-col ul li a {
	font-size:16px;
}

.footer-sitemap .sitemap-col .social-links {
	margin-left: 10px;
}



/***********************************/
/*           TOUR PAGES            */
/***********************************/

#tour-content {
	width: 100%;
}


.tour-mid-right {
	width:100%;
	float:none;
	padding:0;
}

.tour-mid {
	position:relative;
}

.tour-items {
	padding:0 25px;	
}
.tour-whoisitfor {
	width:100%;
}



.free-trial-cnt-3 {
	display:block;
	width:100%;
	min-width:400px;
	z-index: 9;	
}

.free-trial-cnt-1 
{
	display:none !important;
} 
.free-trial-cnt-3 .free-trial {
	right:10px;
	margin:0;
}

.tour-top {
	position:relative;
	width:100%;
}
.tour-top h1 {
	line-height:35px;
}

.tour-top .tour-top-small {
	margin-left: -40px;
}

.tour-top-content {
	background-position:7px 37px;
}
.tour-next {
	margin-right:5px;
}
.tour-pre {
	margin-left:5px;
}

#tour-navigator-mobile {
	display:block;
	background-color: #f8f8f8;
	text-align: center;
	font-size: 15px;
	font-family: 'verdana';
	color: #626262;
	height: 45px;
	line-height: 45px;
	font-weight: bold;
	cursor:pointer;
}

#tour-navigator-mobile span{
	width:200px;
}

.left-tour-nav {
	width: 65px;
	background: url('../images/btn_mobile_nav_down.png') no-repeat 0 0;
	height: 31px;
	position: absolute;
	margin-top: 2px;
	z-index:1000;
	left:10px;
	display:none;
}

.two-coll-1 {
	float:none;
	width:100%;
}

.tour-slide-1 {
	position: relative;
	width: 100%;
	text-align: center;
}
.centered-btns_tabs {
	width:100%;
}

.disabled-nav {
	opacity:0.5;
}

.tour-block {
	width:100%;
	display:block;
	margin:0;
	padding:0;
	float:none;
}
.tour-slide-2 {
	position: relative;
	width: 100%;
	text-align: center;
	float:none;
	margin:0;
}

#navtab-container {
	width:100%;
}



.tour-mid-left {
	top: -213px !important;
	position: absolute !important;
	display: block;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	height: 0px;
	opacity:0.9;
	
	
}

.tour-mid-left.active {
	height: 240px;
	z-index:999;
}

.tour-mid-left ul {
	position: relative;
	text-align: left;
	background: #f8f8f8;
	
}

.free-trial-cnt-2 {
	display:none !important;
} 
.tour-mid-left ul li {
	padding: 0px 0px 14px 44px;
	border-bottom: solid 1px orange;
}



/********************************/
/* 			BEGIN PRICING PAGE		*/
/********************************/
#pricing-content-wrapper {
	width:100%;
	padding:0;
	border:0;
	margin:0;
}

.pri-bott-coll {
	float:none;
	width:100%;
}
.pri-coll-1 {
	padding-right:0;
}

.prig-bottom-cnt {
	padding: 10px 25px;
}

.prig-block-1, 
.prig-block-2 {
	height:auto;
}

.pri-bott-block h2 {
	height:auto;
}

#pricing-content .package-block {
	margin: 10px 7px;
	width:255px;
}
.pricing-button a {
	width: 95px;
}
.mainfeature-table tr.table-header {
	font-size:17px;
}

#navtab-container .navtab {
	border:0;
}
/********************************/
/* 			END PRICING	PAGE		*/
/********************************/


/************************************/
/* 			BEGIN PRICING PRIVACY	*/
/************************************/
#privacy-content {
	width:100%;
	border:0;
}
.pri-mid {
	height:auto;
	padding: 0 20px;
	background-color: #f8f8f8;
}

.pri-mid-left {
	width: 100%;
	float: none;
	background:none;
}

.pri-mid-left-cnt {
	border: 0;
	margin:0;
	background:none;
}

.pri-mid-right {
	display:none;
}

.pri-mid-right-mobile {
	text-align: center;
	display:block;
}
/************************************/
/* 			END PRICING PRIVACY	*/
/************************************/

#signin-content {
	width:100%;
	text-align: center;
	height: 600px;
	margin: 0;
}
.signin-main {
	width:100%;
}
.signin-main h1 {
	width:200px;
	margin: 0 auto;
}

.signin-box {
	width:90%;
	padding:0;
}
.signin-box #id1 {
	padding:15px;
}
.signin-lblemail {
	display:block;
}

.signin-box [type="text"] {
	width: 100%;
	padding:0;
	margin-bottom:10px;
}

#term-content {
	width: 100%;
	margin-top: 20px;
	padding:0 20px;
}
