#signup-content {
	width:100%;
}

.sig-top {
	width:100%;
}

.sig-mid {
	padding:0;
}

.sig-mid-left {
	width:100%;
	float:none;
}

.sig-left-otherservices {
	float:none;
	width:100%;
}

.sig-left-normal-signup {
	float:none;
	width:100%;
}


.sig-left-otherservices ul li {
	width:50%;
	margin: 0 0 20px 0;
}

.sig-mid-left input[type="submit"] {
	float:none;
}

.sig-left-otherservices ul {
	display: block;
	height: 120px;
	width: 372px;
	margin: 0 auto;
}

.sig-left-otherservices .sig-lef-separator {
	width: 170px;
	display: block;
	margin: 0 auto;
	text-align: center;
}

.sig-left-otherservices .sig-lef-separator .separator-text {
	display: inline-block;
	height: 26px;
}



#id1 {
	padding: 0 20px;
}

.sig-mid-right {
	float:none;
	width:100%;
}

.sig-left-normal-signup .formfield {
	width:90%;
	margin-top:10px;
}

.sig-left-otherservices .sig-lef-separator {
	background: url('../images/signup_separator_horizontal.png') repeat-x center center rgb(255, 255, 255);
}
