@import url(../chameleon-blue/styles.css);

@media only screen and (max-width : 1024px),
only screen and (max-device-width : 1024px) {  
	.crmContainer {
	    margin: 15px;
	}
	.projectDashboardView {
		margin: 20px 15px;
	}
	.accountViewContainer {
		margin: 20px 15px;
	}
}

@media screen and (min-width: 1024px) {  
	.crmContainer {
	    margin: 15px auto;
	}
	.projectDashboardView {
		margin: 20px auto;
	}
	.accountViewContainer {
		margin: 20px auto;
	}
}


.v-app {
    background: #E1E1E1;
}

.v-table-cell-wrapper {
    white-space: normal;
}
.v-table-caption-container, .v-table-header-drag {
	padding-top: .1em;
}
.clear {
    clear: both;
}
.v-button-link:focus .v-button-caption, .v-button-borderless:focus .v-button-caption {
    border: none;
    margin: 0px;
}
.h-sidebar-menu {
    height: 30px;
    background: #F3F3F3;
    background: -moz-linear-gradient(top,#F3F3F3 0,#C6C6C6 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#F3F3F3),color-stop(100%,#C6C6C6));
    background: -webkit-linear-gradient(top,#F3F3F3 0,#C6C6C6 100%);
    background: -o-linear-gradient(top,#F3F3F3 0,#C6C6C6 100%);
    background: -ms-linear-gradient(top,#F3F3F3 0,#C6C6C6 100%);
    background: linear-gradient(to bottom,#F3F3F3 0,#C6C6C6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F3F3F3',endColorstr='#C6C6C6',GradientType=0);
    border: 1px solid #8F8F8F;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: 0px 1px 2px 1px #D2D2D2;
    -webkit-box-shadow: 0px 1px 2px 1px #D2D2D2;
    -moz-box-shadow: 0px 1px 2px 1px #D2D2D2;
}

.h-sidebar-menu .v-csslayout-container {
    height: 30px;
}

.h-sidebar-menu .v-csslayout-container .v-button-link, .h-sidebar-menu .v-csslayout-container .v-button-link:active, .h-sidebar-menu .v-csslayout-container .v-button-link:focus {
    color: #4D4D4D;
    height: 30px;
    margin: 0px;
    padding: 0px;
}

.h-sidebar-menu .v-csslayout-container .v-button-link:active .v-button-wrap, .h-sidebar-menu .v-csslayout-container .v-button-link:focus .v-button-wrap {
    padding: 0px 30px;
    border-right: 1px solid #8F8F8F;
}

.h-sidebar-menu .v-csslayout-container .v-button, .h-sidebar-menu .v-csslayout-container .v-button .v-button-wrap {
    border-radius: 0px;
    box-shadow: initial;
    -webkit-box-shadow: initial;
    -moz-box-shadow: initial;
}

.h-sidebar-menu .v-csslayout-container .v-button-link .v-button-wrap, .h-sidebar-menu .v-csslayout-container .v-popupbutton .v-button-wrap, .h-sidebar-menu .v-csslayout-container .v-popupbutton:active .v-button-wrap {
    margin: 7px auto 0px;
    display: block;
    padding: 0px 30px;
    border-right: 1px solid #8F8F8F;
    height: 16px;
}

.h-sidebar-menu .v-csslayout-container .v-button-link .v-button-caption {
    text-decoration: none;  
    color: #5E5E5E;
    text-shadow: #F0F0F0 0 1px 0;
    font-weight: bold;
}

.h-sidebar-menu .v-csslayout-container .v-button-link.isSelected .v-button-caption, .h-sidebar-menu .v-csslayout-container .v-button-link.isSelected .v-button-caption:hover {
    color: #287ECE;
}
.h-sidebar-menu .v-csslayout-container .v-button-link .v-button-caption:hover {
    color: #333;
}
.listControl {
	margin-top: 3px;
}

.pagedtable .v-table-header td:last-child .v-table-resizer {
	border-right-width: 0px;
}
input.v-textfield-pagedtable-pagefield {
	margin-top: 1px;
}
input.v-textfield[type="text"], textarea.v-textarea, .v-filterselect {
	padding: .2em .2em .1em;
}
.v-datefield-button {
	padding: .1em 0 .2em;
}

/* Top Menu */

#topNavigation {
    height: 40px;
    background: #444;
    background: -moz-linear-gradient(top,#444 0,#222 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#444),color-stop(100%,#222));
    background: -webkit-linear-gradient(top,#444 0,#222 100%);
    background: -o-linear-gradient(top,#444 0,#222 100%);
    background: -ms-linear-gradient(top,#444 0,#222 100%);
    background: linear-gradient(to bottom,#444 0,#222 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444',endColorstr='#222222',GradientType=0);
    box-shadow: 0px 0px 2px 2px #444;
}

#topNavigation .v-button, #topNavigation .v-button .v-button-wrap {
    border-radius: 0px;
    box-shadow: initial;
    -webkit-box-shadow: initial;
    -moz-box-shadow: initial;
}

.serviceMenuContainer {
    float: left;
}

.serviceMenu {
    float: left;
    padding: 12px 14px 11px;
    background: none !important;
    border: none;
    text-shadow: none;
}

.serviceMenu .v-button-wrap {
    padding: 0px;
}

#topNavigation .serviceMenu .v-button-caption {
    font-weight: bold;
    font-size: 14px;
    padding: 0 6px 0 3px;
}

#topNavigation .v-button-wrap, #topNavigation .v-button:active .v-button-wrap {
    border: none;
    background: none;
    padding: 0px;
}

#topNavigation .v-button-caption {
    color: white;
    text-decoration: none;
    padding: 0 3px;
}

#topNavigation .navSeparator {
    display: block;
    float: left;
    border-left: solid 1px #222;
    border-right: solid 1px #444;
    height: 20px;
    width: 0;
    margin: 10px 0;
}

#mainLogo {
    float: left;
    height: 40px;
    width: 20px;
    margin: 10px 10px 5px 5px;
    display: block;
}

.accountMenuContainer {
    float: right;
}

#topNavigation .accountMenu {
    float: right;
    margin-right: 30px;
    height: 40px;
    display: block;
    padding: 12px 12px 11px;
    text-shadow: none;
    background: none;
    border: none;
}

.v-popupbutton-popup.v-popupbutton-popup-topNavPopup {
    border: solid 1px #999;
    border-top: 0px;
    border-radius: 0px 0px 4px 4px;
    -webkit-border-radius: 0px 0px 4px 4px;
    -moz-border-radius: 0px 0px 4px 4px;
    -o-border-radius: 0px 0px 4px 4px;
    padding: 0px 15px;
}

.v-popupbutton-popup-topNavPopup .link, .v-popupbutton-popup-topNavPopup div.v-button-link, .v-popupbutton-popup-topNavPopup div.v-button-link:focus {
    padding: 10px 0px;
}

.v-popupbutton-popup-topNavPopup .link .v-button-caption {
    text-decoration: none;
    font-size: 14px;
    color: black;
    font-weight: normal;
}

.v-popupbutton-popup-topNavPopup .link .v-button-caption:hover {
    color: #004B91;
}
.v-popupbutton-popup-serviceMenu .link .v-button-caption:hover {
    font-weight: bold;
}

/* End Top Menu */

/* Advanced Search Template */

.advSearch {
    background-color: #FAFAFA;
    padding: 10px 20px;
    margin: 10px 2px;
    box-shadow: #BFBFBF 0px 1px 2px 1px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #B7B7B7;
}

.advSearch .advSearchHeader .h2 {
    font-size: 14px;
    border-bottom: 1px solid #B7B7B7;
    padding-top: 0px;
}

.advSearch .advSearchBody .v-label {
	width: 90px !important;
	text-align: right;
}/*
.advSearch .advSearchBody select.v-select-select{
	width: 220px !important;
}*/

.advSearch .advSearchFooterContainer {
    width: 100%;
    padding: 20px 0px 5px;
}

.advSearch .advSearchFooterContainer .advSearchFooter div:first-child {
    margin: 0px auto;
    display: block;
}

/* End Advanced Search Template */

/* Basic Search Template */

.basicSearch {
    background-color: #FAFAFA;
    padding: 10px 20px;
    margin: 10px 2px;
    box-shadow: #BFBFBF 0px 1px 2px 1px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #B7B7B7;
}

.basicSearch .basicSearchHeader {
	margin-bottom: 10px;
}

.basicSearch .basicSearchHeader .h2 {
    font-size: 14px;
    border-bottom: 1px solid #B7B7B7;
    padding-top: 0px;
}

.basicSearch .basicSearchBody .v-label {
	line-height: 1.8em;
}

/* End Basic Search Template */

/* CRM Service */

.crmContainer {
    /*width: 1000px;
    margin: 15px;*/
    max-width: 1130px;
}
.crmContainer .v-table-body-noselection {
	height: 100% !important;
}

input.v-textfield-errorField {
	border-color: red;
}

/* End CRM Service */

/* Login Form */

.formView {
    background: white;
    width: 600px;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
}

#header {
    margin: 110px auto 20px;
    width: 280px;
    text-align: center;
    font-size: 27px;
}

#loginFormContainer {
    width: 280px;
    margin: 0 auto;
}

#loginForm {
    width: 280px;
    border: 1px solid #E5E5E5;
    background: white;
    box-shadow: rgba(200, 200, 200, 0.7) 0 4px 10px -1px;
    float: left;
}

#loginForm .v-captionwrapper {
    margin: 20px auto;
    display: block;
    width: 230px;
}

#loginForm .v-captionwrapper .v-caption {
    margin-bottom: 5px;
}

#loginForm .v-captionwrapper .v-caption .v-captiontext {
    font-size: 14px;
    color: #777;
}

#loginForm input.v-textfield {
    width: 225px;
    font-size: 14px;
    background: #FBFBFB;
    border-color: #BBB;
    border-radius: 3px;
    padding: .2em;
}

#loginForm #submitLogin {
    margin-right: 23px;
    float: right;
    margin-bottom: 20px;
}

#loginFormContainer #newToUs {
    float: left;
    display: block;
    width: 100%;
    padding: 20px 0px;
    text-align: right;
}

#loginFormContainer #newToUs #signupLink .v-button {
    background: none;
    border: none;
    float: right;
}

#loginFormContainer #newToUs #signupLink span {
    float: right;
}

#loginFormContainer #newToUs #signupLink .v-button-wrap {
    color: #287ECE;
    background: none;
    border: none;
    padding: 0px;
}

#loginFormContainer #newToUs #signupLink .v-button-wrap .v-button-caption {
    text-decoration: underline;
}

/* End Login Form */

/* Add View Styles */
.addViewLayout {
	background-color: #FAFAFA;
	padding: 10px 20px;
	margin: 10px 2px;
	box-shadow: #BFBFBF 0px 1px 2px 1px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 1px solid #B7B7B7;
}
.addViewLayout .addNewControl {
	margin: 10px auto 0px;	
}
.addViewLayout .addViewHeader .headerName {
	font-size: 16px;
	font-weight: bold;
	margin-top: 15px;
}
.addViewLayout .addViewBody .h2 {
	font-size: 14px;
	border-bottom: 1px solid #B7B7B7;
	color: #5E5E5E;
	text-shadow: #F0F0F0 0 1px 0;
	width: 500px !important;
}
/* End Add View Styles */

/* Account Settings */

.accountViewContainer {
	background-color: #FAFAFA;
	padding: 10px;
	box-shadow: #BFBFBF 0px 1px 2px 1px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 1px solid #B7B7B7;
	max-width: 1130px;
}

.accountViewContainer .v-label-h1, .accountViewContainer .v-label h1 {
	padding: 0px;
	font-weight: normal;
	font-size: 20px;
}

.accountViewContainer .sidebar-menu {
	background: none;
	border-right: 1px solid #CCC;
}
.accountViewContainer .v-splitpanel-hsplitter-locked {
	width: 0px;
	border-style: solid;
	border-color: #CCC;
	border-width: 0px 1px 0px 0px;
	background: none; 
}

.accountViewContainer .userInfoContainer {
	padding: 0 0.6em;
}

.accountViewContainer .userInfoContainer .editInfoControl {
	margin-top: 10px;
}

.accountViewContainer .sidebar-menu .v-nativebutton {
	font-size: 14px;
	padding: 0 0.6em 0 0;
	margin: 3px 0px;
}

.accountViewContainer .sidebar-menu .tab-selected, .accountViewContainer .sidebar-menu .selected {
	background: none;
}

.accountViewContainer .v-nativebutton .v-nativebutton-caption {
    padding: 3px 0px 2px;
    border-radius: 3px;
    display: block;
    text-align: left;
    padding-left: 10px;
}

.accountViewContainer .v-nativebutton-tab-selected .v-nativebutton-caption, .accountViewContainer .tab-selected .v-nativebutton-caption {
	background: #287ECE;
}

/* End Account Settings */

/* Project Management */

.projectDashboardView {
	background-color: #FAFAFA;
	padding: 10px;
	box-shadow: #BFBFBF 0px 1px 2px 1px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 1px solid #B7B7B7;
	max-width: 1130px;
}

.projectDashboardView .v-label-h1, .projectDashboardView .v-label h1 {
	padding: 0px;
	font-weight: normal;
	font-size: 20px;
}

.projectDashboardView .sidebar-menu {
	background: none;
	border-right: 1px solid #CCC;
}

.projectDashboardView .menuContent {
	max-width: 1130px;
}
.projectDashboardView .v-splitpanel-hsplitter-locked {
	width: 0px;
	border-style: solid;
	border-color: #CCC;
	border-width: 0px 1px 0px 0px;
	background: none; 
}

.projectDashboardView .sidebar-menu .v-label.sectionHeader{
	font-size: 14px;
	padding: .3em .7em;
}

.projectDashboardView .sidebar-menu .v-nativebutton {
	font-size: 14px;
	padding: 0 0.6em 0 0;
	margin: 3px 0px;
}

.projectDashboardView .sidebar-menu .tab-selected, .accountViewContainer .sidebar-menu .selected {
	background: none;
}

.projectDashboardView .v-nativebutton .v-nativebutton-caption {
    padding: 3px 0px 2px;
    border-radius: 3px;
    display: block;
    text-align: left;
    padding-left: 10px;
}

.projectDashboardView .v-nativebutton-tab-selected .v-nativebutton-caption, .projectDashboardView .tab-selected .v-nativebutton-caption {
	background: #287ECE;
}

.projectDashboardView .v-label-h2, .v-label h2 {
	padding: 0px;
}
/* End Project Management */

/*Css for wizard*/
.v-wizardprogressbar .step {
    float: left;
    overflow: hidden;
}

.v-wizardprogressbar .bar-wrapper {
    clear: left;
    float: left;
    width: 100%;
    height: 10px;
    margin-bottom: 3px;
    border: none;
}
.v-wizardprogressbar .bar {
    height: 100%;
    background-color: #00b3ef; 
    background: -moz-linear-gradient(center top , #20D4FF, #009CD0) repeat-x scroll left top transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#20d4ff), to(#009cd0)) top left repeat-x;
    -moz-transition: width 0.5s ease-out 0s;
    -webkit-transition: width 0.5s ease-out 0s;
}

/* Step captions */
.v-wizardprogressbar .step-caption {
    color: #bfbfbf;
    font-size: 110%;
    white-space: nowrap;
    padding-bottom: 2px;
    text-align: center;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out; 
}
.v-wizardprogressbar .completed .step-caption,
.v-wizardprogressbar .current .step-caption {
    color: #000;
}

/* Step progress bar */
.v-wizardprogressbar .step-progress {
    background: #dfdfdf;
    border-top: 1px solid #767471;
    border-bottom: 1px solid #2e2d2a;
    height: 8px;
    width: 100%;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.v-wizardprogressbar .first .step-progress {
    border-left: 1px solid #45433f;
    -moz-border-radius: 8px 0 0 8px;
    -webkit-border-radius: 8px 0 0 8px;
}
.v-wizardprogressbar .current .step-progress {
    border-right: 1px solid #005f7e;
}
.v-wizardprogressbar .last .step-progress {
    border-right: 1px solid #45433f;
    -moz-border-radius: 0 8px 8px 0;
    -webkit-border-radius: 0 8px 8px 0;
}
.v-wizardprogressbar .completed .step-progress,
.v-wizardprogressbar .current .step-progress {
    background-color: #00b3ef; 
    background: -moz-linear-gradient(top, #20d4ff, #009cd0) top left repeat-x;
    background: -webkit-gradient(linear, left top, left bottom, from(#20d4ff), to(#009cd0)) top left repeat-x;
}
/*End wizard*/

.v-table-cell-wrapper {
white-space: normal;
}
