$my-dark-color: #5e5d55;
$my-border-color: #c5c5c5;
$my-separator-color: #e5e5e5;
$my-meta-color: #999;
$my-link-color: #0083ce;
$my-title-color: #006DAC;
$my-black-color: #5e5d55;
$my-white-color: #f7f7f7;
$my-note-color: #76B38A;
$my-font-weight-bold: 600;
$my-font-small: 12px;