@mixin project-dashboard {
  .project-dashboard {
    .project-info-layout {
      padding-bottom: .5rem;
	  .project-icon {
        font-size: 2.5rem;
        padding: .5rem;
      }
      .project-name {
        font-weight: bold;
        font-size: 1.2rem;
        text-align: center;
      }
    }
  }

  .task {
    box-shadow: inset 5px 0px 0px 0px #52de0f;
  }

  .bug {
    box-shadow: inset 5px 0px 0px 0px #e20a71;
  }

  .milestone {
    box-shadow: inset 5px 0px 0px 0px #649be2;
  }

  .risk {
    box-shadow: inset 5px 0px 0px 0px #47bbdd;
  }
}