@mixin project-bug {
  /*Project Task*/
  /* TASK PRIORITY STYLES */
  $priority-urgent-color: #d32d1a;
  $priority-high-color: #e95948;
  $priority-medium-color: #f09085;
  $priority-low-color: #f7c7c1;
  $priority-none-color: #b7b9b0;

  .priority-urgent, .v-filterselect-item-priority-urgent {
    .v-icon {
      color: $priority-urgent-color;
    }
  }

  .priority-urgent.v-icon {
    color: $priority-urgent-color;
  }

  .priority-high, .v-filterselect-item-priority-high {
    .v-icon {
      color: $priority-high-color;
    }
  }

  .priority-high.v-icon {
      color: $priority-high-color;
  }

  .priority-medium, .v-filterselect-item-priority-medium {
    .v-icon {
      color: $priority-medium-color;
    }
  }

  .priority-medium.v-icon {
    color: $priority-medium-color;
  }

  .priority-low, .v-filterselect-item-priority-low {
    .v-icon {
      color: $priority-low-color;
    }
  }

  .priority-low.v-icon {
    color: $priority-low-color;
  }

  .priority-none, .v-filterselect-item-priority-none {
    .v-icon {
      color: $priority-none-color;
    }
  }

  .priority-none.v-icon {
    color: $priority-none-color;
  }
  /*END TASK PRIORITY STYLES*/
}