@mixin project-timelog {
  .time-log-window {
    .v-window-outerheader {
      height: inherit;
      .v-window-header {
        text-align: center;
        padding-bottom: 0.5rem;
      }
    }
  }
}