$my-border-color: #c5c5c5;
$my-separator-color: #ededed;
$my-background-color: #ffffff;
$my-panel-background-color: #f9f9f9;
$my-hover-background-color: #f5f5f5;
$my-block-background-color: #f9f9f9;
$my-meta-color: #999;
$my-link-color: #0083ce;
$my-alert-color: #B0470B;
$my-note-color: #76B38A;
$my-title-color: #006DAC;
$my-white-color: #ffffff;
$my-font-weight-bold: 600;
$my-warning-color: #e8a052;

$font-family: Arial, Verdana, Helvetica, sans-serif;

$font-smaller: 12px;
$font-small: 13px;
$font-normal: 14px;
$font-large: 15px;
$font-larger: 16px;
$font-x-large: 18px;
$font-xx-large: 24px;
$font-largest: 36px;

@mixin hover-effect {
  -webkit-box-shadow: inset 5px 0px 0px 0px $my-link-color;
  -moz-box-shadow: inset 5px 0px 0px 0px $my-link-color;
  box-shadow: inset 5px 0px 0px 0px $my-link-color;
  background-color: $my-hover-background-color;
}

.hover-effect-not-box:hover{
  background-color: $my-hover-background-color;
}

@mixin text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-ellipsis a {
  display: inline-block;
  width: 100%;
  @include text-ellipsis;
}

.v-label.text-ellipsis {
  display: inline-block;
  width: 100%;
  @include text-ellipsis;
}

@mixin margin-container($top, $right, $bottom, $left) {
  &.v-margin-top {
    padding-top: $top;
  }
  &.v-margin-right{
    padding-right: $right;
  }
  &.v-margin-bottom {
    padding-bottom: $bottom;
  }
  &.v-margin-left {
    padding-left: $left;
  }
}

@mixin flex-compatible {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

@mixin my-box-shadow {
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.4)
}
