@mixin mycollab-document {
  /* volume usage info */

  .v-horizontallayout.border-box2-no-margin.file-topcontrols {
    border-radius: 2px 3px 0px 0px;
    border-width: 1px 1px 0px 1px;
  }

  .file-topcontrols .v-button.v-button-right {
    border-right: none;
  }

  .v-horizontallayout.border-box2-no-margin.file-topcontrols .v-buttongroup .v-button.v-button-right {
    border-radius: 0px 3px 0px 0px;
  }

  .v-label.volumeUsageInfo {
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    height: 0;
    overflow: visible;
    div {
      position: relative;
      margin-top:-20px;
      text-align: center;
    }
  }
}