@mixin mycollab-shared {
  a {
    text-decoration:none;
    &:visited, &:link {
        color: $my-link-color;
    }
    &.completed {
      color: black;
      text-decoration: line-through;
    }
    &.overdue {
      color:red;
    }
    &.pending {
      color: #108e2a;
    }
  }

  .v-button.v-button-link, .v-button.v-button-link:hover {
    color: $my-link-color;
  }

  .meta-info {
    color: $my-meta-color;
    font-size: $font-small;
  }

  .v-filterselect-suggestmenu table {
    width:100%;
  }

  .list-row {
    border-color: $my-separator-color;
    border-width: 0px 1px 1px;
    border-style: solid;
    padding: 10px;
    &:nth-child(even) {
      background-color: $my-background-color;
    }
    &:nth-child(odd) {
      background-color: #FFF;
    }
    &:hover {
      @include hover-effect;
    }
  }

  .panel-header {
    border: 1px solid $my-separator-color;
    background-color: $my-panel-background-color;
    height: 40px !important;
    .v-label {
      font-size: $font-large;
      font-weight: bold;
    }
  }

  .panel-body {
    border: 1px solid $my-separator-color;
    border-top:0;
  }

  /* Multifiles Upload */

  .v-multifileupload-ext .v-verticallayout {
    display: block;
  }

  .v-multifileupload-uploads {
    .v-upload .v-button:before {
      font-family: FontAwesome;
      content:'\f0c6';
      font-size: $font-larger;
    }
    .v-upload .v-button {
      border: none;
      background: transparent;
      @include flex-compatible;
      padding: 0px;
      margin: 0px;
    }
  }

  /* End Multifiles Upload */

  /* Progress Indicator */

  .v-progressbar {
    width: 100%;
  }

  .v-progressbar-wrapper {
    height: 18px;
    background: $my-background-color;
    border: 1px solid $my-separator-color;
  }

  .v-progressbar-indicator {
    height: 18px;
    border-radius: $v-border-radius;
    -webkit-border-radius: $v-border-radius;
    -moz-border-radius: $v-border-radius;
    margin: -1px;
    border: 1px solid $my-separator-color;
    background-image: none;
    background: #fdde86;
  }

  .v-progressbar.medium {
    display: block;
    .v-progressbar-wrapper {
      height: 7px;
      box-shadow: none;
      border: 1px solid $my-separator-color;
      background: $my-background-color;
    }
    .v-progressbar-indicator {
      height: 7px;
      border: 1px solid $my-separator-color;
      background: #fdde86;
    }
  }

  /* Pageable controls */
  .listControl {
    padding: 2px;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: $my-separator-color;
    border-radius: 0px 0px 3px 3px;
    background: none no-repeat 0 0 #ffffff;
  }

  .borderlessControl {
    padding: 4px;
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    border-color: $my-border-color;
    border-radius: 0px;
    background: none no-repeat 0 0 #ffffff;
  }

  .v-button.buttonPaging {
    background-color: $my-background-color;
    border: 1px solid $my-border-color;
    .v-button-wrap {
      width: 17px;
      padding: 0px 5px;
      text-align: center;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
    &.current, &:hover {
      color: $my-white-color;
    }
  }

  .warning-icon {
    .v-icon {
      font-size: 48px;
      color:red;
    }
  }

  .v-button.favorite-btn {
    background-color: transparent;
    .v-icon {
      font-size: $font-large;
    }
    .v-button-wrap:hover{
      background-color:transparent;
    }
  }

  .v-button.favorite-btn-selected {
    background-color: transparent;
    .v-icon {
      font-size: $font-large;
      color:coral;
    }
    .v-button-wrap:hover{
      background-color:transparent;
    }
  }

  .v-horizontallayout.searchfield {
    border: 1px solid $my-border-color;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    background-color:white;
    .v-icon {
      margin:5px;
      color:black;
    }
    input.v-textfield[type='text'],  input.v-textfield-focus[type='text']{
      border:none;
      box-shadow:none;
      margin-right: 5px;
    }
  }

  .v-label {
    &.icon-48px {
      .v-icon {
        font-size: 48px;
        color:#525252;
      }
    }
    &.icon-38px {
      .v-icon {
        font-size: 38px;
        color:#525252;
      }
    }
  }

  .optionPopupContent {
    background-color: #ffffff;
    border: solid 1px $my-border-color;
    @include my-box-shadow;
    max-width: 800px;
    .action-wrap {
      width: 100%;
      .v-button-action {
        background-color:transparent;
        text-align:left;
        margin: 3px 0px;
        @include text-ellipsis;
      }
      .v-disabled.v-button-action {
        border:none;
      }
    }
    .action-wrap:hover .v-button-action {
      color: $my-white-color;
    }

    .v-label.section-header {
      padding: 5px 0px 5px 10px;
      font-weight: bold;
    }
  }

  .v-checkbox input[type="checkbox"]:focus {
    border: none;
    box-shadow: none;
  }

  /* Activity Stream */
  .feed-block-wrap {
    &.v-margin-bottom {
      padding-bottom: 18px;
    }
    background: url("icons/timeline-line.jpg") repeat-y left top transparent;
    .date-lbl  {
        padding: 6px;
    	position: static;
    	width: 55px;
    	text-align:center;
    	border-radius: 3px;
    }
    .date-lbl::after {
    	left: 100%;
    	top: 50%;
    	border: solid transparent;
    	content: " ";
    	height: 0;
    	width: 0;
    	position: absolute;
    	pointer-events: none;
    	border-width: 8px;
    	margin-top: -8px;
    }
    .feed-block {
      background-color: $my-block-background-color;
      padding: 3px 10px;
      border: 1px solid $my-separator-color;
      border-radius: 3px;
      position: relative;
      overflow: visible;
      &::before {
        content: "";
        position: absolute;
        border-style: solid;
        display: block;
        width: 0;
        top: 4px;
        left: -12px;
        border-width: 11px 11px 11px 0;
        border-color: transparent $my-separator-color;
        border-radius: 0px;
      }
      &::after {
        content: "";
        position: absolute;
        border-style: solid;
        display: block;
        width: 0;
        top: 4px;
        left: -10px;
        border-width: 11px 11px 11px 0;
        border-color: transparent $my-block-background-color;
        border-radius: 0px;
      }
      .stream-wrapper {
        border-width: 1px 0px 0px;
        border-color: $my-separator-color;
        padding-bottom: 8px;
        background-color: $my-block-background-color;
        &:first-child {
          border-width: 0px;
        }
      }
    }
  }

  .v-horizontal.feed-block-wrap > .v-expand > .v-spacing {
    width: 25px;
  }

  .v-label.year-lbl {
    height: 40px;
    width: 40px;
    left: 35px;
    position:relative;
    margin:10px;
    border-radius: 50%;
    div {
      float:left;
      width:100%;
      padding-top:50%;
      line-height:1em;
      margin-top:-0.5em;
      text-align:center;
      color: black;
    }
  }
  /* Selection */


  /* Popup Button */
  div.v-popupbutton-popup {
    border: 1px solid $my-border-color;
    border-radius: 0px;
    box-shadow: none;
    .popupContent {
      padding: 0px;
    }
  }

  div.v-window {
    box-shadow: none;
    border: 1px solid $my-border-color;
  }

  /* Kanban block */
  .v-slot.v-slot-kanban-layout {
    overflow: auto;
    position: relative;
  }
  .v-layout.kanban-layout {
    .kanban-block {
      cursor: move;
      background-color: #fdde86;
      .header {
        font-weight: bold;
        color: black;
        font-size: $font-large;
      }
      .v-verticallayout {
        overflow-y:auto;
      }
      .kanban-item {
        background-color: white;
        cursor: move;
      }
    }
  }

  /*Popup view*/
  .v-popupview.block-popupedit {
    text-decoration: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #cae9f8;
    padding: 0px 5px;
    margin: 3px 3px 0px 0px;
    color: $my-meta-color;
    font-size: $font-small;
    .v-icon {
      padding: 0px;
    }
    &:hover {
      background-color:#33aae5;
      color: $my-white-color;
    }

    .nonValue .hide {
      display: none;
    }

    .nonValue:hover .hide {
      display: inline;
    }
  }

  .v-popupview-popup.v-popupview-popup-block-popupedit {
    .popupContent {
      overflow-y: auto;
      > .v-verticallayout {
        background-color: white;
      }
    }
  }

  .v-overlay-container {
    .v-popupview-popup {
      margin: 3px;
      padding: 0px;
      .popupContent {
         background-color: white;
      }
    }
  }

  /* New project button */
  .v-button.add-btn-popup {
    background: transparent;
    &.selected, &:hover {
      border-radius: $v-border-radius;
      .v-button-wrap {
        background:none;
      }
    }

    .v-popup-indicator {
      &:before {
        content: "\f0dd";
        font-size: 15px;
        opacity: 1;
      }
    }
  }

  /* Block  - applied in history*/
  span.block {
    border-radius: 5px;
    padding: 3px 5px;
    margin-right: 5px;
    color: $my-white-color;
    font-size: $font-small;
  }

  /*Wizard style*/
  .wizard {
    .wizard-progress-bar {
      padding: 5px 0px;
      border-bottom: 1px solid $my-separator-color;
      .v-progressbar-indicator {
        background: none;
        background-color: #fdde86;
      }
    }
    .v-panel {
      border: none;
      .v-panel-captionwrap {
        display:none;
      }
      .v-panel-content {
        border: none;
      }
      .v-panel-deco {
        display:none;
      }
    }
  }

  /*Loading progress label*/
  .sk-cube-grid > div {
    width: 40px;
    height: 40px;
    margin: 100px auto;
  }

  .sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: white;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
            animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  }
  .sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s; }
  .sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
            animation-delay: 0s; }
  .sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }

  @-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
    } 35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1);
    }
  }

  @keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
    } 35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1);
    }
  }

  /* Panel */
  .v-panel-caption {
    background: $my-background-color;
    border: 1px solid $my-border-color;
  }

  .v-panel-content {
    border-style: solid;
    border-width: 0px 1px 0px 1px;
    border-color: $my-border-color;
  }

  /*Remove default background of combobox*/
  .v-filterselect-suggestpopup .gwt-MenuItem-selected {
     background-image: none;
  }

  /*Change the font, color of window header title*/
  .v-window-header {
    font-size: $font-larger;
    .v-icon {
      margin-right: 10px;
    }
  }

  /* Readonly text field has white background as well*/
  .v-textfield.v-readonly {
    background-color: white;
  }

  /* Override the select background */
  .v-select select {
    background-color: white;
    background-image: none;
  }

  .v-select-optiongroup.v-has-width label {
    line-height: 1.5;
  }

  .v-table-cell-content {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .v-table-header-wrap, .v-table-body {
    border: 1px solid $my-separator-color;
  }

  /* Context menu style */
  .v-context-menu-container {
    background-color: #ffffff;
    border: 1px solid $my-border-color;
    max-width:400px;
    @include my-box-shadow;
    .v-context-menu {
      .v-context-submenu {
        @include flex-compatible;
        max-width:400px;
        padding: 7px;
        &:hover {
          background-color: red;
          color: $my-white-color;
        }
        .v-context-menu-item-basic-text {
          padding-left: 6px;
        }
      }
    }
  }
}