@mixin common {
  .meta-info {
    color: $my-meta-color;
    font-size: smaller !important;
    a {
      color: $my-meta-color !important;
    }
  }

  hr {
    border: 0;
    border-top: 1px solid $my-separator-color;
  }

  a {
    color: $my-black-color !important;
    text-decoration: none !important;
  }

  .truncate {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis;
    a span {
      width:100%;
      white-space: nowrap !important;
      overflow: hidden !important;
      text-overflow: ellipsis;
    }
  }
    
  .attachment-panel {
    border-top: 1px solid $light-gray-border;
    padding: 0.5rem 0rem 0.8rem;
  }
}