@mixin margin-container($top, $right, $bottom, $left) {
  &.v-margin-top {
    padding-top: $top;
  }
  &.v-margin-right{
    padding-right: $right;
  }
  &.v-margin-bottom {
    padding-bottom: $bottom;
  }
  &.v-margin-left {
    padding-left: $left;
  }
}

@mixin section-header() {
  padding: 10px 5px 10px 5px;
  border-bottom: 1px solid $my-separator-color;
  .v-label {
    font-size: 20px;
    font-weight: 500;
  }
}

.section {
  width: 100%;
  @include section-header();
  .v-touchkit-navbutton {
    width: 100% !important;
  }
}

@mixin truncate() {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

@mixin common {
  .meta-info {
    color: $my-meta-color;
    font-size: smaller !important;
  }

  hr {
    border: 0;
    border-top: 1px solid $my-separator-color;
  }

  a {
    color: $my-link-color !important;
    text-decoration: none !important;
  }

  .truncate .v-layout,  .truncate .v-label, .truncate {
    width: 100% !important;
    a {
     display: block;
     @include truncate();
    }
  }

  .v-gridlayout.colored-gridlayout {
    width: 100%;
    .gridform-caption, .gridform-field {
      @include margin-container(8px, 8px, 4px, 0px);
      border-bottom: 1px solid $my-separator-color;
    }
    .gridform-field {
      min-height: 43px;
      padding-top: 8px;
      padding-bottom: 8px;
      display: flex;
    }
    .gridform-caption {
      min-height: 43px;
      .v-label {
        text-align: right;
        color: $my-meta-color;
      }
    }
    .v-required-field-indicator {
      color: red !important;
      margin-top: 0px !important;
    }
  }

  .v-navbar-quickmenu-content {
    width: 100%;
    border-bottom: 1px solid $my-border-color;
    .v-button {
      background: transparent !important;
      box-shadow: none !important;
    }
  }

  .v-touchkit-navbar {
    border-bottom: none !important;
  }

  .v-touchkit-navview-wrapper, .v-touchkit-navpanel, .v-scrollable, body {
    overflow-x: hidden !important;
  }

  .v-touchkit-navpanel-wrapper {
    background-color: white;
  }

  .v-touchkit-navbar-caption {
    font-size: smaller;
    span {
    display: block;
      @include truncate();
    }
  }

  .v-touchkit-navbar-left, .v-touchkit-navbar-right {
    width: 68px !important;
  }

  .v-touchkit-navbar-right {
    text-align: right !important;
  }

  .v-touchkit-navbar .v-button-wrap {
    text-align: left;
  }

  .v-touchkit-navbar .v-navbar-quickmenu-button {
    font-size: 20px !important;
  }

  .navigation-button-wrap {
    .v-icon {
      padding-right: 10px;
    }
  }

  .confirm-dialog {
    .v-window-outerheader {
      display: none;
    }
    .v-window-closebox {
      background-color: transparent !important;
    }
    .v-horizontallayout .v-button {
      font-size: 14px;
    }
  }
    
  .attachment-panel {
    border-top: 1px solid $light-gray-border;
    padding: 0.5rem 0rem 0.8rem;
  }

  .slidemenu {
    top: 0px !important;
    .v-window-contents {
      border-right: 1px solid $my-border-color;
      .v-button {
        background: transparent !important;
        box-shadow: none !important;
      }
    }
  }

  .full-width-comp {
    width: 100%;
  }

  .comment-input {
    > div > .v-horizontallayout {
      width: 100%;
    }
    input[type="text"] {
      width: 100%;
      height: 100%;
    }
  }

  input.searchinputfield {
    width: 100%;
    height: 35px;
    border-bottom: 1px solid $my-separator-color;
    text-align: center;
  }

  .v-slot-searchinputfield .resetbuttonfortextfield-resetbutton {
    top: -7pt;
  }
}