/* This contains all of your theme.*/
/* If somebody wants to extend the theme she will include this mixin. */
@import "variables.scss";
@import "colors.scss";
@import "common.scss";
@import "vaadin-components.scss";

/* Import our component styles */
@import "components/attachment-preview.scss";
@import "components/attachments-display.scss";
@import "components/attachment-upload.scss";
@import "components/project/dashboard.scss";
@import "components/project/activities.scss";
@import "components/project/bug.scss";
@import "components/project/message.scss";
@import "components/project/bug.scss";
@import "components/project/member.scss";
@import "components/project/milestone.scss";
@import "components/project/timelog.scss";

@mixin mycollab-mobile {
  /* Include all the styles from the reindeer theme */
  
  @include vaadin-components;
  
  /* Include common components */
  @include attachment-preview;
  @include attachments-display;
  @include attachment-upload;
  
  * {
     -webkit-tap-highlight-color: rgba(0,0,0,0);
     -webkit-tap-highlight-color: transparent; /* For some Androids */
  }

  .v-touchkit-navview-wrapper {
    background-color: white;
  }

  .v-touchkit-navbar, .v-touchkit-tabbar-toolbar .v-touchkit-toolbar, .v-touchkit-navview-toolbar, .v-mobilecomponent .v-touchkit-navpanel {
    box-shadow: none !important;
  }
  
  .v-table-body {
    border: none;
  }

  .content-wrapper {
    margin: 0 auto;
    display: block;
    &.v-margin-top {
      padding-top: 2.5rem;
    }

    .intro-text {
      text-align: center;
    }

    .welcometext-wrapper {
      background: url("icons/welcometext_bg.png") repeat-x left center rgb(245, 245, 245);

      .v-label {
        display: block;
        margin: 0 auto;
        text-align: center;
        background-color: rgb(245, 245, 245);
        font-size: 1.6rem;
        color: #2692db;
        border: none;
      }
    }
  }

  .login-view {
    overflow: auto;

    .v-textfield {
      color: rgb(34, 34, 34);
    }

    .v-textfield.password-input {

    }
  }
  
  /* Edit View Layout */
  
  .attachment-panel {
    .v-label.attachment-name {
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }  
  
  /* Note List */
  .noteList {
    background-color: rgb(255, 255, 255);
  }
  
  /* Message Row */
  .message {
    border-bottom: 1px solid rgb(203, 203, 203);
    
    .message-header {
      .user-name {
        color: rgb(227, 146, 65);
      }
      .time-post {
        color: rgb(191, 191, 191);
      }
    }
    
    .message-body {
      color: rgb(149, 149, 149);
    }
  }
  
  .v-touchkit-navbutton {
    line-height: normal;
    
    &:after {
      content: "";
    }
  }
  
  @include project-dashboard;
  @include project-activities;
  @include project-bug;
  @include project-message;
  @include project-bug;
  @include project-member;
  @include project-milestone;
  @include project-timelog;
}