/* This contains all of your theme.*/
/* If somebody wants to extend the theme she will include this mixin. */
@import "mixins.scss";
@import "colors.scss";
@import "vaadin-components.scss";

/* Import our component styles */
@import "components/attachment-preview.scss";
@import "components/attachments-display.scss";
@import "components/attachment-upload.scss";
@import "components/project/dashboard.scss";
@import "components/project/activities.scss";
@import "components/project/bug.scss";
@import "components/project/message.scss";
@import "components/project/bug.scss";
@import "components/project/member.scss";
@import "components/project/milestone.scss";
@import "components/project/timelog.scss";

@mixin mycollab-mobile {
    /* Include all the styles from the reindeer theme */
    
    @include vaadin-components;
    
    /* Include common components */
    @include attachment-preview;
    @include attachments-display;
    @include attachment-upload;
    
    * {
	   -webkit-tap-highlight-color: rgba(0,0,0,0);
	   -webkit-tap-highlight-color: transparent; /* For some Androids */
	}

	.v-touchkit-navview-wrapper {
	  background-color: white;
	}
    
    .v-table-body {
    	border: none;
    }
    
    .v-mobilecomponent .v-touchkit-navpanel {
    	box-shadow: none;
    }

    .content-wrapper {
        margin: 0 auto;
        display: block;
        &.v-margin-top {
        	padding-top: 2.5rem;
        }

        .intro-text {
            text-align: center;
        }

        .welcometext-wrapper {
            background: url("icons/welcometext_bg.png") repeat-x left center rgb(245, 245, 245);

            .v-label {
                display: block;
                margin: 0 auto;
                text-align: center;
                background-color: rgb(245, 245, 245);
                font-size: 1.6rem;
                color: #2692db;
                border: none;
            }
        }
    }

    .login-view {
        overflow: auto;

        .v-textfield {
            padding: 10px 5px 10px 55px;
            font-size: 1.5rem;
            color: rgb(34, 34, 34);
        }

        .v-textfield.v-textfield-prompt {
            color: #c7c7c7;
        }

        .v-textfield.email-input {
            background: url("icons/email_input_bg.png") no-repeat left center #FFFFFF;
        }

        .v-textfield.password-input {
            background: url("icons/password_input_bg.png") no-repeat left center #FFFFFF;
        }
    }
	
	/* Data List View */
	.data-list-view {
		background-color: rgb(255, 255, 255);
		.list-item {
			&.v-touchkit-navbutton {
				padding: 1rem 2.7rem 1rem 1.4rem;
				border-bottom: 0.1rem solid #DDDDDD;
				color: #8C8C8C;
				font-size: 1.3rem;
				
				&:after {
					content: "\e60a";
					font-family: "icomoon";
					line-height: 1.8rem;
					padding: 10px 0px;
					color: #8c8c8c;
					font-size: 1.1rem;
				}
			}
			&.blank-item:before {
				content: "";
				font-weight: bold;
				display: inline-block;
				width: 100%;
				vertical-align: top;
				position: relative;
			}
			&.v-button {
				text-align: left;
				margin: 0px;
				
				.v-button-wrap {
					padding: 1rem 2.7rem 1rem 1.4rem;
					word-wrap: break-word;
					white-space: normal;
					border-bottom: 1px solid #DDDDDD;
					
					.v-button-caption {
						color: #8C8C8C;
						font-size: 1.3rem;
					}
				}
				&.selectable-button.selected {
					.v-button-wrap {
						position: relative;
						
						&:after {
							content: "\e042";
							font-family: "icomoon";
							color: #49A3E1;
							position: absolute;
							right: 2rem;
							display: inline-block;
							font-size: 1.6rem;
							line-height: 1.6rem;
						}
					}
				}			
			}
			.v-button {
				text-align: left;
				margin: 0rem;
				.v-button-wrap {
					padding: 0rem;
					.v-button-caption {
						font-size: 1.3rem;
					}
				}				
			}
		}
		
	}
	
	/* Read View Layout */
	.readview-layout, .editview-layout {
		background-color: #F3F1F0;
		
		.v-label {
			font-size: 1.5rem;
			line-height: 2rem;
			
			&.h2 {
				font-size: 1.2rem;
				color: #6B6A70;
				padding: 2.0rem 0rem 0.9rem 1rem;
				border-bottom: .1rem solid $light-gray-border;
			}
		}
		
		.info-hdr {
			font-size: 1.2rem;
			color: #6B6A70;
			padding: 2.0rem 0rem 0.9rem 1rem;
			border-bottom: .1rem solid $light-gray-border;
			.v-label {
				font-size: 1.2rem;
			}
		}
		
		.v-gridlayout {
			color: #060606;
			background-color: #FFFFFF;
			
			.gridform-caption, .gridform-field {
				border-bottom: .1rem solid $light-gray-border;
				
				&.v-horizontallayout{
					&.v-margin-top {
						padding-top: 1.3rem;
					}
					&.v-margin-bottom {
						padding-bottom: 1.3rem;
					}
					&.v-margin-left {
						padding-left: 0rem;
					}
				}
			}
			
			.gridform-caption {
				.v-label.v-widget {
					text-align: right;
				}				
			}
			
			.gridform-field {
				color: #8C8C8C;
				.v-label {
					line-height: 2rem;
					font-size: 1.5rem;
					text-overflow: ellipsis;
					&.v-has-width {
						white-space: nowrap;
					}
					
					&:after {
						content: "";
						position: relative;
						display: inline-block;
					}
				}				
			}
		}
		
		.v-touchkit-verticalcomponentgroup {
			box-shadow: none;
			border-color: $light-gray-border;
			border-top: none;
			margin: 0px;
			.v-touchkit-componentgroup-row { 
				&:before {
					border-color: $light-gray-border;
					left: 0px;
					right: 0px;
				}
				.v-caption {
					margin: 1.3rem 0rem;
				}
				&.v-touchkit-componentgroup-row-full {
					& > .v-caption {
						color: $black-caption;
						text-align: right;
						line-height: 2rem;
						padding-right: 1rem;
						overflow: hidden;
					}
					& > .v-touchkit-componentgroup-cell {
						flex: 2 1 0%;
					}
				}
			}
			.v-touchkit-componentgroup-cell > * {
				margin: 1.3rem 0rem;
			}
			.v-textfield {
				height: auto;
			}
			.v-textfield:focus,
			.v-textarea:focus,
			.v-touchkit-numberfield:focus,
			.v-filterselect-input:focus {
				box-shadow: none;
			}
		}
	}

	.readview-layout {
		.gridform-field {
			.v-button-wrap {
				text-align: left;
				padding: 0px;
				.v-icon {
					vertical-align: middle;
				}
				.v-button-caption {
					vertical-align: middle;
					padding-left: 3px;
					font-size: 1.5rem;
					line-height: 2rem;
				}
			}
		}
	}
	
	/* Edit View Layout */
	
	.editview-layout {
		.v-caption {
			font-size: 1.5rem;
			
			.v-required-field-indicator {
				font-size: 1.3rem;
				line-height: 2rem;
			}
		}
		input.v-textfield, .v-filterselect, .v-textarea {
			@include editform-field;
			
			border: none;
			border-radius: 0px;
			padding: 0px 1px;
			vertical-align: top;
			margin: 0px;
		}
			
		.v-filterselect-button {
			@include icomoon;
		}
		
		.v-select {
			border: none;
			border-radius: 0px;
			background-color: transparent;
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			
			select.v-select-select {
				@include editform-field;
				min-height: 2rem;
				
				option {
					padding: 0px;
				}
			}
			&:after {
				content: "\e60c";
				font-family: "icomoon";
				padding-right: 5px;
				color: #8C8C8C;
			}
		}
		.v-datefield.v-datefield-popupcalendar {
			font-size: 1.5rem;
			
			input.v-textfield.v-datefield-textfield {
				border: none;
			}
			.v-datefield-button {
				line-height: normal;
			}
		}
		
		.v-touchkit-datepicker .v-select-select {
			@include editform-field;
			
			min-height: 2rem;
		}
		
		.v-touchkit-navbutton.combo-box {
			@include editform-field;
			
			&:before {
				content: "";
				position: relative;
				display: inline-block;
			}
			&:after {
				content: "\e60a";
				font-family: "icomoon";
				color: #8c8c8c;
				font-size: 1.1rem;
				right: 0px;
				top: 0px;
			}
		}
		
		.v-upload {
			.v-button {
				font-size: 1.5rem;
				.v-button-wrap {
					padding: 0px;
				}
			}
		}
	}
	
	.attachment-panel {
		.v-label.attachment-name {
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}	
	
	/* Note List */
	.noteList {
		background-color: rgb(255, 255, 255);
	}
	
	/* Message Row */
	.message {
		border-bottom: 1px solid rgb(203, 203, 203);
		
		.message-header {
			.user-name {
				color: rgb(227, 146, 65);
			}
			.time-post {
				color: rgb(191, 191, 191);
			}
		}
		
		.message-body {
			color: rgb(149, 149, 149);
		}
	}
	
    .v-button {
        line-height: normal;
        box-shadow: none;
        padding: 0px;
        cursor: pointer;
        
        &.big-btn {
	        font-size: 1.5rem;
	
	        .v-button-wrap {
	            padding: 1rem 0rem;
	
	            .v-button-caption {
	                font-size: 1.5rem;
	            }
	        }
	    }
	    
	    &.blue {
	        background-color: #49a3e1;
	        border: 1px solid #226899;
	
	        .v-button-caption {
	            color: white;
	        }
	    }
	    
	    &.gray {
	        background-color: #9b9b9b;
	        border: 1px solid #616161;
	
	        .v-button-caption {
	            color: white;
	        }
	    }
	    
	    &:active {
	    	.v-button-wrap:after {
	    		background-color: transparent;
	    	}
    	}
    }
    
    .v-touchkit-navbutton {
        line-height: normal;
        
        &:after {
	        content: "";
	    }
    }

    .v-textfield {
        border-radius: 4px;
        border: 1px solid #c7c7c7;
        outline: none;
    }
    
    @include project-dashboard;
    @include project-activities;
    @include project-bug;
    @include project-message;
    @include project-bug;
    @include project-member;
    @include project-milestone;
    @include project-timelog;
    
}