input {
	box-shadow: none;
}

body.v-generated-body {
	background: none repeat scroll 0% 0% #F3F1F0;
}

div.v-vertical > .v-spacing, div.v-vertical > .v-expand > .v-spacing {
	display: inline-block;
}

.attachment-panel {
	border-top: 1px solid #dddddd;
	padding: 0.5rem 0rem 0.8rem;
}

[data-count]:after {
	content: attr(data-count);
	font-family: "Open Sans", Verdana, Helvetica, sans-serif;
	display: block;
	position: absolute;
	background-color: #f59330;
	border-radius: 50%;
	color: white;
	font-size: 1rem;
	right: -1.7rem;
	width: 2.2rem;
	height: 2.2rem;
	line-height: 2.2rem;
	top: -1.6rem;
}

.v-touchkit-switch-widget {
	height: 2.4rem;
}

.v-touchkit-switch-widget .v-touchkit-switch-wrapper {
	height: 2rem;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background-color: #49a3e1;
	border: 2px solid #49a3e1;
}

.v-touchkit-switch-widget .v-touchkit-switch-wrapper.v-touchkit-switch-off {
	background-color: white;
	border: 2px solid #cbcbcb;
}

.v-touchkit-switch-widget .v-touchkit-switch-wrapper.v-touchkit-switch-off .v-touchkit-switch .v-touchkit-switch-slider:after {
	background-color: #cbcbcb;
}

.v-touchkit-switch-widget .v-touchkit-switch-wrapper .v-touchkit-switch {
	line-height: 1.8rem;
}

.v-touchkit-switch-widget .v-touchkit-switch-wrapper .v-touchkit-switch:after {
	color: #cbcbcb;
	margin: 0rem;
}

.v-touchkit-switch-widget .v-touchkit-switch-wrapper .v-touchkit-switch:before {
	color: white;
	margin: 0rem;
}

.v-touchkit-switch-widget .v-touchkit-switch-wrapper .v-touchkit-switch .v-touchkit-switch-slider:after {
	content: "";
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background-color: white;
	margin: 0.2rem;
}

.v-touchkit-navbar .v-touchkit-navbar-right {
	top: 0px;
	right: 0px;
}

.v-touchkit-navbar .v-touchkit-navbar-right .v-button {
	min-height: inherit;
}

.confirm-dialog .v-window-outerheader {
	display: none;
}

.confirm-dialog .message-wrapper.v-margin-top {
	padding-top: 20px;
}

.confirm-dialog .message-wrapper.v-margin-bottom {
	padding-bottom: 20px;
}

.confirm-dialog .message-wrapper .v-label {
	text-align: center;
}

.confirm-dialog .v-button .v-button-wrap {
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

.confirm-dialog .v-button .v-button-wrap:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

.v-filterselect {
	overflow: hidden;
	padding-right: 1.6rem;
}

.v-filterselect .v-icon {
	height: 1.6rem;
	position: relative;
	vertical-align: middle;
}

.v-filterselect .v-filterselect-input {
	height: 1.6rem;
	vertical-align: middle;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	position: relative;
}

.v-filterselect .v-icon + .v-filterselect-input {
	padding-left: 1.8rem;
	margin-left: -1.6rem;
}

.v-filterselect .v-filterselect-button {
	height: 1.6rem;
	width: 1.6rem;
	margin-right: -1.6rem;
	position: relative;
	display: inline-block;
	vertical-align: middle;
}

.v-filterselect-suggestpopup {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #CFCFCF;
}

.v-button-link, .v-button-link .v-button-wrap, .v-button-link .v-button-caption, .v-button-link:active, .v-button-link.v-pressed, .v-nativebutton-link {
	font-size: inherit;
}

.v-touchkit-datepopover .v-touchkit-date-cancel, .v-touchkit-datepopover .v-touchkit-date-ok {
	padding-top: 0px;
	height: auto;
	border-color: #dddddd;
}

.v-touchkit-datepicker > input {
	font-size: 1.5rem;
	box-sizing: border-box;
	min-height: 2rem;
	height: 2rem;
	line-height: 2rem;
}

.attachment-preview-view {
	background-color: black;
}

.attachment-preview-view .v-touchkit-navbutton-back-btn {
	background-color: rgba(0, 0, 0, 0.4);
	background-image: none;
	padding: 0.4rem 1rem;
	border: 0.1rem solid white;
	border-radius: 0.3rem;
	color: white;
}

.attachment-preview-view .image-wrap {
	overflow: scroll;
	white-space: nowrap;
}

.attachment-preview-view .image-wrap:before {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.attachment-preview-view .image-wrap img {
	display: inline-block;
	vertical-align: middle;
}

.attachment-row .thumbnail-wrap:before {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.attachment-row .thumbnail-wrap img {
	display: inline-block;
	vertical-align: middle;
}

.attachment-row .v-button {
	text-align: left;
}

.attachment-row .v-button .v-button-wrap {
	padding: 0px;
}

.attachment-display-comp .attachment-row {
	padding: 0.3rem 0.5rem 0.4rem;
	border-bottom: 0.1rem solid #dddddd;
	background-color: white;
}

.attachment-field .v-upload .v-button {
	font-size: 1.5rem;
	min-height: inherit;
	line-height: normal;
	vertical-align: middle;
}

.attachment-field .v-upload .v-button .v-button-wrap {
	padding: 0px;
}

.attachment-field .v-progressbar.upload-progress {
	padding: 1.3rem 0.5rem 1.4rem;
	display: block;
	background-color: white;
	border-bottom: 0.1rem solid #dddddd;
}

.attachment-field .v-progressbar.upload-progress .v-progressbar-wrapper {
	border-color: #49a3e1;
}

.attachment-field .v-progressbar.upload-progress .v-progressbar-wrapper .v-progressbar-indicator {
	background-color: #49a3e1;
}

.attachment-field .attachment-row {
	padding: 0.3rem 0.5rem 0.4rem;
	border-bottom: 0.1rem solid #dddddd;
	background-color: white;
}

* {
	-webkit-tap-highlight-color: transparent;
	-webkit-tap-highlight-color: transparent;
}

.v-touchkit-navview-wrapper {
	background-color: white;
}

.v-table-body {
	border: none;
}

.v-mobilecomponent .v-touchkit-navpanel {
	box-shadow: none;
}

.content-wrapper {
	margin: 0 auto;
	display: block;
}

.content-wrapper.v-margin-top {
	padding-top: 2.5rem;
}

.content-wrapper .intro-text {
	text-align: center;
}

.content-wrapper .welcometext-wrapper {
	background: url("icons/welcometext_bg.png") repeat-x left center #f5f5f5;
}

.content-wrapper .welcometext-wrapper .v-label {
	display: block;
	margin: 0 auto;
	text-align: center;
	background-color: #f5f5f5;
	font-size: 1.6rem;
	color: #2692db;
	border: none;
}

.login-view {
	overflow: auto;
}

.login-view .v-textfield {
	padding: 10px 5px 10px 55px;
	font-size: 1.5rem;
	color: #222222;
}

.login-view .v-textfield.v-textfield-prompt {
	color: #c7c7c7;
}

.login-view .v-textfield.email-input {
	background: url("icons/email_input_bg.png") no-repeat left center #FFFFFF;
}

.login-view .v-textfield.password-input {
	background: url("icons/password_input_bg.png") no-repeat left center #FFFFFF;
}

.data-list-view {
	background-color: white;
}

.data-list-view .list-item.v-touchkit-navbutton {
	padding: 1rem 2.7rem 1rem 1.4rem;
	border-bottom: 0.1rem solid #DDDDDD;
	color: #8C8C8C;
	font-size: 1.3rem;
}

.data-list-view .list-item.v-touchkit-navbutton:after {
	content: "\e60a";
	font-family: "icomoon";
	line-height: 1.8rem;
	padding: 10px 0px;
	color: #8c8c8c;
	font-size: 1.1rem;
}

.data-list-view .list-item.blank-item:before {
	content: "";
	font-weight: bold;
	display: inline-block;
	width: 100%;
	vertical-align: top;
	position: relative;
}

.data-list-view .list-item.v-button {
	text-align: left;
	margin: 0px;
}

.data-list-view .list-item.v-button .v-button-wrap {
	padding: 1rem 2.7rem 1rem 1.4rem;
	word-wrap: break-word;
	white-space: normal;
	border-bottom: 1px solid #DDDDDD;
}

.data-list-view .list-item.v-button .v-button-wrap .v-button-caption {
	color: #8C8C8C;
	font-size: 1.3rem;
}

.data-list-view .list-item.v-button.selectable-button.selected .v-button-wrap {
	position: relative;
}

.data-list-view .list-item.v-button.selectable-button.selected .v-button-wrap:after {
	content: "\e042";
	font-family: "icomoon";
	color: #49A3E1;
	position: absolute;
	right: 2rem;
	display: inline-block;
	font-size: 1.6rem;
	line-height: 1.6rem;
}

.data-list-view .list-item .v-button {
	text-align: left;
	margin: 0rem;
}

.data-list-view .list-item .v-button .v-button-wrap {
	padding: 0rem;
}

.data-list-view .list-item .v-button .v-button-wrap .v-button-caption {
	font-size: 1.3rem;
}

.readview-layout, .editview-layout {
	background-color: #F3F1F0;
}

.readview-layout .v-label, .editview-layout .v-label {
	font-size: 1.5rem;
	line-height: 2rem;
}

.readview-layout .v-label.h2, .editview-layout .v-label.h2 {
	font-size: 1.2rem;
	color: #6B6A70;
	padding: 2rem 0rem 0.9rem 1rem;
	border-bottom: 0.1rem solid #dddddd;
}

.readview-layout .info-hdr, .editview-layout .info-hdr {
	font-size: 1.2rem;
	color: #6B6A70;
	padding: 2rem 0rem 0.9rem 1rem;
	border-bottom: 0.1rem solid #dddddd;
}

.readview-layout .info-hdr .v-label, .editview-layout .info-hdr .v-label {
	font-size: 1.2rem;
}

.readview-layout .v-gridlayout, .editview-layout .v-gridlayout {
	color: #060606;
	background-color: #FFFFFF;
}

.readview-layout .v-gridlayout .gridform-caption, .readview-layout .v-gridlayout .gridform-field, .editview-layout .v-gridlayout .gridform-caption, .editview-layout .v-gridlayout .gridform-field {
	border-bottom: 0.1rem solid #dddddd;
}

.readview-layout .v-gridlayout .gridform-caption.v-horizontallayout.v-margin-top, .readview-layout .v-gridlayout .gridform-field.v-horizontallayout.v-margin-top, .editview-layout .v-gridlayout .gridform-caption.v-horizontallayout.v-margin-top, .editview-layout .v-gridlayout .gridform-field.v-horizontallayout.v-margin-top {
	padding-top: 1.3rem;
}

.readview-layout .v-gridlayout .gridform-caption.v-horizontallayout.v-margin-bottom, .readview-layout .v-gridlayout .gridform-field.v-horizontallayout.v-margin-bottom, .editview-layout .v-gridlayout .gridform-caption.v-horizontallayout.v-margin-bottom, .editview-layout .v-gridlayout .gridform-field.v-horizontallayout.v-margin-bottom {
	padding-bottom: 1.3rem;
}

.readview-layout .v-gridlayout .gridform-caption.v-horizontallayout.v-margin-left, .readview-layout .v-gridlayout .gridform-field.v-horizontallayout.v-margin-left, .editview-layout .v-gridlayout .gridform-caption.v-horizontallayout.v-margin-left, .editview-layout .v-gridlayout .gridform-field.v-horizontallayout.v-margin-left {
	padding-left: 0rem;
}

.readview-layout .v-gridlayout .gridform-caption .v-label.v-widget, .editview-layout .v-gridlayout .gridform-caption .v-label.v-widget {
	text-align: right;
}

.readview-layout .v-gridlayout .gridform-field, .editview-layout .v-gridlayout .gridform-field {
	color: #8C8C8C;
}

.readview-layout .v-gridlayout .gridform-field .v-label, .editview-layout .v-gridlayout .gridform-field .v-label {
	line-height: 2rem;
	font-size: 1.5rem;
	text-overflow: ellipsis;
}

.readview-layout .v-gridlayout .gridform-field .v-label.v-has-width, .editview-layout .v-gridlayout .gridform-field .v-label.v-has-width {
	white-space: nowrap;
}

.readview-layout .v-gridlayout .gridform-field .v-label:after, .editview-layout .v-gridlayout .gridform-field .v-label:after {
	content: "";
	position: relative;
	display: inline-block;
}

.readview-layout .v-touchkit-verticalcomponentgroup, .editview-layout .v-touchkit-verticalcomponentgroup {
	box-shadow: none;
	border-color: #dddddd;
	border-top: none;
	margin: 0px;
}

.readview-layout .v-touchkit-verticalcomponentgroup .v-touchkit-componentgroup-row:before, .editview-layout .v-touchkit-verticalcomponentgroup .v-touchkit-componentgroup-row:before {
	border-color: #dddddd;
	left: 0px;
	right: 0px;
}

.readview-layout .v-touchkit-verticalcomponentgroup .v-touchkit-componentgroup-row .v-caption, .editview-layout .v-touchkit-verticalcomponentgroup .v-touchkit-componentgroup-row .v-caption {
	margin: 1.3rem 0rem;
}

.readview-layout .v-touchkit-verticalcomponentgroup .v-touchkit-componentgroup-row.v-touchkit-componentgroup-row-full > .v-caption, .editview-layout .v-touchkit-verticalcomponentgroup .v-touchkit-componentgroup-row.v-touchkit-componentgroup-row-full > .v-caption {
	color: #060606;
	text-align: right;
	line-height: 2rem;
	padding-right: 1rem;
	overflow: hidden;
}

.readview-layout .v-touchkit-verticalcomponentgroup .v-touchkit-componentgroup-row.v-touchkit-componentgroup-row-full > .v-touchkit-componentgroup-cell, .editview-layout .v-touchkit-verticalcomponentgroup .v-touchkit-componentgroup-row.v-touchkit-componentgroup-row-full > .v-touchkit-componentgroup-cell {
	flex: 2 1 0%;
}

.readview-layout .v-touchkit-verticalcomponentgroup .v-touchkit-componentgroup-cell > *, .editview-layout .v-touchkit-verticalcomponentgroup .v-touchkit-componentgroup-cell > * {
	margin: 1.3rem 0rem;
}

.readview-layout .v-touchkit-verticalcomponentgroup .v-textfield, .editview-layout .v-touchkit-verticalcomponentgroup .v-textfield {
	height: auto;
}

.readview-layout .v-touchkit-verticalcomponentgroup .v-textfield:focus, .readview-layout .v-touchkit-verticalcomponentgroup .v-textarea:focus, .readview-layout .v-touchkit-verticalcomponentgroup .v-touchkit-numberfield:focus, .readview-layout .v-touchkit-verticalcomponentgroup .v-filterselect-input:focus, .editview-layout .v-touchkit-verticalcomponentgroup .v-textfield:focus, .editview-layout .v-touchkit-verticalcomponentgroup .v-textarea:focus, .editview-layout .v-touchkit-verticalcomponentgroup .v-touchkit-numberfield:focus, .editview-layout .v-touchkit-verticalcomponentgroup .v-filterselect-input:focus {
	box-shadow: none;
}

.readview-layout .gridform-field .v-button-wrap {
	text-align: left;
	padding: 0px;
}

.readview-layout .gridform-field .v-button-wrap .v-icon {
	vertical-align: middle;
}

.readview-layout .gridform-field .v-button-wrap .v-button-caption {
	vertical-align: middle;
	padding-left: 3px;
	font-size: 1.5rem;
	line-height: 2rem;
}

.editview-layout .v-caption {
	font-size: 1.5rem;
}

.editview-layout .v-caption .v-required-field-indicator {
	font-size: 1.3rem;
	line-height: 2rem;
}

.editview-layout input.v-textfield, .editview-layout .v-filterselect, .editview-layout .v-textarea {
	font-size: 1.5rem;
	line-height: 2rem;
	min-height: 2rem;
	color: #8C8C8C;
	border: none;
	border-radius: 0px;
	padding: 0px 1px;
	vertical-align: top;
	margin: 0px;
}

.editview-layout .v-filterselect-button {
	font-family: "icomoon";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.editview-layout .v-select {
	border: none;
	border-radius: 0px;
	background-color: transparent;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.editview-layout .v-select select.v-select-select {
	font-size: 1.5rem;
	line-height: 2rem;
	min-height: 2rem;
	color: #8C8C8C;
	min-height: 2rem;
}

.editview-layout .v-select select.v-select-select option {
	padding: 0px;
}

.editview-layout .v-select:after {
	content: "\e60c";
	font-family: "icomoon";
	padding-right: 5px;
	color: #8C8C8C;
}

.editview-layout .v-datefield.v-datefield-popupcalendar {
	font-size: 1.5rem;
}

.editview-layout .v-datefield.v-datefield-popupcalendar input.v-textfield.v-datefield-textfield {
	border: none;
}

.editview-layout .v-datefield.v-datefield-popupcalendar .v-datefield-button {
	line-height: normal;
}

.editview-layout .v-touchkit-datepicker .v-select-select {
	font-size: 1.5rem;
	line-height: 2rem;
	min-height: 2rem;
	color: #8C8C8C;
	min-height: 2rem;
}

.editview-layout .v-touchkit-navbutton.combo-box {
	font-size: 1.5rem;
	line-height: 2rem;
	min-height: 2rem;
	color: #8C8C8C;
}

.editview-layout .v-touchkit-navbutton.combo-box:before {
	content: "";
	position: relative;
	display: inline-block;
}

.editview-layout .v-touchkit-navbutton.combo-box:after {
	content: "\e60a";
	font-family: "icomoon";
	color: #8c8c8c;
	font-size: 1.1rem;
	right: 0px;
	top: 0px;
}

.editview-layout .v-upload .v-button {
	font-size: 1.5rem;
}

.editview-layout .v-upload .v-button .v-button-wrap {
	padding: 0px;
}

.attachment-panel .v-label.attachment-name {
	text-overflow: ellipsis;
	white-space: nowrap;
}

.noteList {
	background-color: white;
}

.message {
	border-bottom: 1px solid #cbcbcb;
}

.message .message-header .user-name {
	color: #e39241;
}

.message .message-header .time-post {
	color: #bfbfbf;
}

.message .message-body {
	color: #959595;
}

.v-button {
	line-height: normal;
	box-shadow: none;
	padding: 0px;
	cursor: pointer;
}

.v-button.big-btn {
	font-size: 1.5rem;
}

.v-button.big-btn .v-button-wrap {
	padding: 1rem 0rem;
}

.v-button.big-btn .v-button-wrap .v-button-caption {
	font-size: 1.5rem;
}

.v-button.blue {
	background-color: #49a3e1;
	border: 1px solid #226899;
}

.v-button.blue .v-button-caption {
	color: white;
}

.v-button.gray {
	background-color: #9b9b9b;
	border: 1px solid #616161;
}

.v-button.gray .v-button-caption {
	color: white;
}

.v-button:active .v-button-wrap:after {
	background-color: transparent;
}

.v-touchkit-navbutton {
	line-height: normal;
}

.v-touchkit-navbutton:after {
	content: "";
}

.v-textfield {
	border-radius: 4px;
	border: 1px solid #c7c7c7;
	outline: none;
}

.project-dashboard {
	background-color: white;
}

.project-dashboard .project-info-layout {
	padding: 1.2rem 0rem;
	background-color: #14171a;
	color: white;
}

.project-dashboard .project-info-layout .project-icon {
	font-size: 5rem;
	line-height: 5rem;
	border: 0.3rem solid white;
	border-radius: 4rem;
	padding: 1rem;
}

.project-dashboard .project-info-layout .project-name {
	font-weight: bold;
	font-size: 1.4rem;
	padding-top: 0.6rem;
	text-align: center;
}

.project-dashboard .project-modules-layout {
	display: block;
	margin: 0 auto;
	padding: 2rem 1rem 0rem;
}

.project-dashboard .project-modules-layout .v-gridlayout-spacing-on {
	padding-top: 1rem;
	padding-left: 1rem;
}

.project-dashboard .project-modules-layout .v-button {
	background-color: transparent;
	border-radius: 0rem;
	overflow: visible;
}

.project-dashboard .project-modules-layout .v-button .v-button-wrap {
	padding: 0.5rem 0rem 0.3rem;
	border: 0.1rem solid #d2d2d2;
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}

.project-dashboard .project-modules-layout .v-button .v-button-wrap .v-button-caption {
	display: inline-block;
	box-sizing: border-box;
}

.project-dashboard .project-modules-layout .v-button .v-button-wrap .v-button-caption span {
	font-size: 5.3rem;
	line-height: 1;
	display: inline-block;
}

.project-dashboard .project-modules-layout .v-button .v-button-wrap .v-button-caption div {
	color: #959595;
	font-size: 1.1rem;
	font-weight: bold;
	text-transform: uppercase;
}

.project-activities-view .activity-date {
	border-bottom: 2px solid #f59330;
	padding: 1rem 0.5rem 0.5rem;
	font-size: 1.1rem;
	font-weight: bold;
	color: #959595;
}

.project-activities-view .activity-row {
	padding: 0.5rem 2.5rem 0.8rem 1.4rem;
	border-bottom: 0.1rem solid #dddddd;
	color: #959595;
}

.project-activities-view .activity-row .activity-type {
	font-size: 2rem;
	color: #f59330;
}

.project-activities-view .activity-row .v-label.activity-item {
	font-size: 1.4rem;
	font-weight: bold;
	text-overflow: ellipsis;
}

.project-activities-view .activity-row .v-label.activity-item a {
	text-decoration: none;
	white-space: nowrap;
	color: #414141;
}

.project-activities-view .activity-row .activity-detail-row .activity-detail {
	font-size: 1.1rem;
}

.project-activities-view .activity-row .activity-detail-row .v-button.link {
	display: inline-block;
}

.project-activities-view .activity-row .activity-detail-row .v-button.link .v-button-wrap {
	padding: 0rem 0rem 0rem 0.4rem;
}

.project-activities-view .activity-row .activity-detail-row .v-button.link .v-button-wrap .v-button-caption {
	font-size: 1.1rem;
}

.bugs-list .list-item {
	padding: 1rem 1.4rem;
	border-bottom: 0.1rem solid #dddddd;
	color: #959595;
}

.bugs-list .list-item .bug-icon {
	color: #f59330;
	font-size: 1.8rem;
}

.bugs-list .list-item .bug-icon span[data-icon]:before {
	font-weight: bold;
}

.bugs-list .list-item .bug-name {
	color: #414141;
	font-size: 1.4rem;
	font-weight: bold;
}

.bugs-list .list-item .bug-meta-info {
	font-size: 1.2rem;
}

.bugs-list .list-item .bug-meta-info .bug-assignee {
	color: #49a3e1;
	text-decoration: none;
}

.message-list-view .message-block, .message-read-view .message-block {
	padding: 1.2rem 0.8rem 0rem 0.8rem;
	border-bottom: 1px solid #cbcbcb;
	background-color: white;
}

.message-list-view .message-block .user-avatar, .message-read-view .message-block .user-avatar {
	padding-right: 0.8rem;
}

.message-list-view .message-block .user-name, .message-read-view .message-block .user-name {
	color: #f59330;
}

.message-list-view .message-block .time-post, .message-read-view .message-block .time-post {
	font-size: 1.1rem;
	color: #bfbfbf;
}

.message-list-view .message-block .title-row .comment-count, .message-read-view .message-block .title-row .comment-count {
	font-size: 1.1rem;
	color: white;
	background-color: #7c7c7c;
	padding: 0.2rem 0.5rem;
	border-radius: 0.3rem;
}

.message-list-view .message-block .title-row.has-comment, .message-read-view .message-block .title-row.has-comment {
	padding: 0.3rem 0rem;
}

.message-list-view .message-block .message-content, .message-read-view .message-block .message-content {
	color: #959595;
	padding-bottom: 0.8rem;
}

.message-list-view .message-block .attachment-row, .message-read-view .message-block .attachment-row {
	padding: 0.3rem 0.5rem 0.4rem;
}

.comment-list .comment-block {
	padding: 0.8rem;
}

.comment-list .comment-block .user-avatar {
	padding-right: 0.8rem;
}

.comment-list .comment-block .right-col {
	border: 1px solid #cbcbcb;
	background-color: white;
	padding: 0.5rem 0.7rem 0rem;
}

.comment-list .comment-block .right-col:before {
	content: "";
	position: absolute;
	border-style: solid;
	display: block;
	width: 0;
	top: 9px;
	left: -7px;
	border-width: 7px 7px 7px 0;
	border-color: transparent #adadad;
	border-radius: 0px;
}

.comment-list .comment-block .right-col:after {
	content: "";
	position: absolute;
	border-style: solid;
	display: block;
	width: 0;
	top: 9px;
	left: -6px;
	border-width: 7px 7px 7px 0;
	border-color: transparent white;
	border-radius: 0px;
}

.comment-list .comment-block .right-col .user-name {
	color: #f59330;
}

.comment-list .comment-block .right-col .time-post {
	font-size: 1.1rem;
	color: #bfbfbf;
}

.comment-list .comment-block .right-col .comment-content {
	color: #959595;
	padding-bottom: 0.8rem;
}

.comment-list .comment-block .right-col .attachment-row {
	padding: 0.3rem 0.5rem 0.4rem;
}

.message-add-view .content-layout {
	background-color: #252c34;
}

.message-add-view .content-layout .addform-layout {
	display: block;
	margin: 0 auto;
	background-color: white;
}

.message-add-view .content-layout .addform-layout .title-field {
	border-color: #dddddd;
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	padding: 0.8rem;
	font-size: 1.4rem;
}

.message-add-view .content-layout .addform-layout .title-field.v-textfield-prompt {
	font-style: normal;
}

.message-add-view .content-layout .addform-layout .content-field {
	font-size: 1.4rem;
	padding: 0.8rem;
}

.message-add-view .content-layout .addform-layout .content-field.v-textarea-prompt {
	font-style: normal;
}

.message-add-view .content-layout .bottom-row {
	margin: 1.2rem auto 0rem;
	box-shadow: none;
}

.message-add-view .content-layout .bottom-row .v-caption {
	font-size: 1.4rem;
}

.message-add-view .content-layout .bottom-row .attachment-field .attachment-field-header {
	padding-bottom: 0.5rem;
}

.message-add-view .content-layout .bottom-row .attachment-field .attachment-row-wrap {
	display: block;
}

.message-add-view .content-layout .bottom-row .attachment-field .attachment-row-wrap .attachment-row {
	border-top: 0.1rem solid #dddddd;
	border-bottom: none;
}

.message-add-view .content-layout .bottom-row .attachment-field .attachment-row-wrap .attachment-row .v-button {
	display: inline-block;
}

.bugs-list .list-item {
	padding: 1rem 1.4rem;
	border-bottom: 0.1rem solid #dddddd;
	color: #959595;
}

.bugs-list .list-item .bug-icon {
	color: #f59330;
	font-size: 1.8rem;
}

.bugs-list .list-item .bug-icon span[data-icon]:before {
	font-weight: bold;
}

.bugs-list .list-item .bug-name {
	color: #414141;
	font-size: 1.4rem;
	font-weight: bold;
}

.bugs-list .list-item .bug-meta-info {
	font-size: 1.2rem;
}

.bugs-list .list-item .bug-meta-info .bug-assignee {
	color: #49a3e1;
	text-decoration: none;
}

.member-list .list-item.member-row {
	padding: 1rem 2.5rem 1rem 1.4rem;
	border-bottom: 0.1rem solid #DDDDDD;
	color: #8C8C8C;
}

.member-list .list-item.member-row .member-info {
	padding-left: 0.5rem;
}

.member-list .list-item.member-row .member-info .display-name {
	font-weight: bold;
	font-size: 1.4rem;
	color: #f59330;
}

.member-list .list-item.member-row .member-info .user-name {
	font-size: 1.2rem;
	color: #959595;
}

.milestones-list-view .milestones-list .list-item {
	padding: 1rem 1.4rem;
	border-bottom: 0.1rem solid #dddddd;
	color: #959595;
}

.milestones-list-view .milestones-list .list-item .milestone-icon {
	color: #f59330;
	font-size: 1.8rem;
}

.milestones-list-view .milestones-list .list-item .milestone-icon span[data-icon]:before {
	font-weight: bold;
}

.milestones-list-view .milestones-list .list-item .milestone-name {
	color: #414141;
	font-size: 1.4rem;
	font-weight: bold;
}

.milestones-list-view .milestones-list .list-item .milestone-meta-info {
	font-size: 1.2rem;
}

.milestones-list-view .milestones-list .list-item .milestone-meta-info .milestone-assignee {
	color: #49a3e1;
	text-decoration: none;
}

.milestones-list-view .milestones-list .list-item .milestone-meta-info span[data-icon]:before {
	font-size: 1.5rem;
	vertical-align: top;
}

.milestones-list-view .v-touchkit-toolbar {
	width: 100%;
}

.milestones-list-view .v-touchkit-toolbar .v-button {
	width: 33%;
}

.timelog-comp-hdr .v-button.link {
	margin: 0px;
	text-align: left;
}

.timelog-comp-hdr .v-button.link .v-button-wrap {
	padding: 0rem 0.3rem 0rem 0rem;
}

.timelog-comp-hdr .v-button.link .v-button-wrap .v-button-caption:after {
	font-family: "icomoon";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\e60a";
	display: inline-block;
	font-size: 1.3rem;
	line-height: 1.7rem;
	vertical-align: top;
	padding-left: 0.3rem;
}

.timelog-edit-view div.v-vertical > .v-expand > .v-spacing {
	display: block;
	height: 1.2rem;
}

.timelog-edit-view .summary-info-panel {
	background-color: white;
	border-bottom: 0.1rem solid #dddddd;
}

.timelog-edit-view .summary-info-panel .total-time {
	border-right: 0.1rem solid #dddddd;
}

.timelog-edit-view .summary-info-panel .summary-block .block-label {
	color: #959595;
}

.timelog-edit-view .summary-info-panel .summary-block .block-value {
	color: #414141;
	font-size: 1.5rem;
	font-weight: bold;
}

.timelog-edit-view .data-list-view {
	border-top: 0.1rem solid #dddddd;
}

.timelog-edit-view .data-list-view .log-day {
	border-bottom: 2px solid #f59330;
	padding: 1rem 0.5rem 0.5rem;
	font-size: 1.1rem;
	font-weight: bold;
	color: #959595;
}

.timelog-edit-view .data-list-view .time-log-item {
	padding: 0.5rem 2.5rem 0.8rem 1.4rem;
	border-bottom: 0.1rem solid #dddddd;
	color: #959595;
}

.timelog-edit-view .data-list-view .time-log-item .log-value {
	font-size: 1.4rem;
	font-weight: bold;
	color: #414141;
}

.timelog-edit-view .data-list-view .time-log-item .v-caption-on-top > .v-caption {
	display: inline-block;
}

.timelog-edit-view .data-list-view .time-log-item .log-user {
	font-size: 1.1rem;
}

.timelog-edit-view .data-list-view .time-log-item .is-billable {
	text-align: center;
	color: #49a3e1;
}

.time-log-window .v-window-outerheader {
	height: inherit;
}

.time-log-window .v-window-outerheader .v-window-header {
	text-align: center;
	padding-bottom: 0.5rem;
}

.time-log-window.new-time-entry-window .input-wrapper {
	margin: 0px;
	border-bottom: none;
	box-shadow: none;
	border-color: #dddddd;
	font-size: 1.4rem;
}

.time-log-window.new-time-entry-window .input-wrapper .v-textfield {
	border: none;
}

.time-log-window.new-time-entry-window .input-wrapper .v-textfield:focus {
	box-shadow: none;
}

.time-log-window.new-time-entry-window .input-wrapper .v-touchkit-componentgroup-row > .v-caption {
	font-size: 1.4rem;
}

.time-log-window.new-time-entry-window .input-wrapper .v-select-select {
	font-size: inherit;
}

.time-log-window.update-remain-time-window .input-wrapper {
	padding: 0.5rem 1rem;
}

.time-log-window.update-remain-time-window .input-wrapper .v-textfield {
	font-size: 1.5rem;
	color: #959595;
	line-height: 2rem;
	border-radius: 0px;
	border-color: #dddddd;
}

.time-log-window .button-layout {
	border-top: 0.1rem solid #dddddd;
}

.time-log-window .button-layout .v-button {
	background-color: transparent;
}

.time-log-window .button-layout .v-button .v-button-wrap {
	padding: 1rem;
}

.time-log-window .button-layout .v-button .v-button-wrap .v-button-caption {
	color: #49a3e1;
	font-size: 1.4rem;
}

.time-log-window .button-layout .v-button.add-btn {
	border-left: 0.1rem solid #dddddd;
}