@mixin attachments-display {
  .attachment-row {
    .thumbnail-wrap {
      display: inline-block;
    }
    .v-button {
      text-align: left;
      color: $my-link-color;
      box-shadow: none;
      font-size: smaller;
    }
  }
  .attachment-display-comp {
    .attachment-row {
      padding: 0.3rem 0.5rem 0.4rem;
      border-bottom: 0.1rem solid $my-separator-color;
    }
  }
}