.v-gantt-diagram-task-minimal-width
{
	width: 5px;
}

.v-gantt-diagram-task-rotated-width
{
	width: 100%;
}

.v-gantt-diagram-task
{
	height: 70%;
	color: red;
	opacity: 1;
}

.v-gantt-diagram-task-border
{
	color: white;
	width: 1px;
	opacity: 1; 
}

.v-gantt-diagram-task-rounded
{
	width: 3px;
}

.v-gantt-diagram-task-complete
{
	height: 60%;
	color: black;
	opacity: 0.5;
}

.v-gantt-diagram-task-complete-border
{
	color: red;
	width: 0px;
	opacity: 1; 
}

.v-gantt-diagram-task-complete-rounded
{
	width: 1px;
}

.v-gantt-diagram-task-control-point
{
	width: 50%;
	color: yellow;
	opacity: 0.6;
}

.v-gantt-diagram-task-control-point-border
{
	color: orange;
	width: 1px;
	opacity: 0.6; 
}

.v-gantt-diagram-task-dependency
{
	color: blue;
	width: 1px;
	opacity: 1;
}

.v-gantt-diagram-task-dependency-horizontal-offset
{
	width: 12px;
}

.v-gantt-diagram-task-dependency-vertical-offset
{
	height: 8px;
}

.v-gantt-diagram-task-dependency-arrow
{
	width: 8px;
	height: 4px;
	color: blue;
	opacity: 1;
}

.v-gantt-diagram-task-dependency-arrow-border
{
	color: blue;
	width: 0px;
	opacity: 1;
}

.v-gantt-diagram-scale-hour
{
	width: 15px;
}

.v-gantt-diagram-scale-day
{
	width: 20px;
}

.v-gantt-diagram-scale-week
{
	width: 25px;
}

.v-gantt-diagram-scale-month
{
	width: 30px;
}

.v-gantt-diagram-scale-quarter
{
	width: 40px;
}

.v-gantt-diagram-scale-year
{
	width: 60px;
}