@mixin project-bug {
  /*Project Task*/
  /* TASK PRIORITY STYLES */
  $task-urgent-color: #d32d1a;
  $task-high-color: #e95948;
  $task-medium-color: #f09085;
  $task-low-color: #f7c7c1;
  $task-none-color: #b7b9b0;

  .task-urgent, .v-filterselect-item-task-urgent {
    .v-icon {
      color: $task-urgent-color;
    }
  }

  .task-urgent.v-icon {
    color: $task-urgent-color;
  }

  .task-high, .v-filterselect-item-task-high {
    .v-icon {
      color: $task-high-color;
    }
  }

  .task-high.v-icon {
      color: $task-high-color;
  }

  .task-medium, .v-filterselect-item-task-medium {
    .v-icon {
      color: $task-medium-color;
    }
  }

  .task-medium.v-icon {
    color: $task-medium-color;
  }

  .task-low, .v-filterselect-item-task-low {
    .v-icon {
      color: $task-low-color;
    }
  }

  .task-low.v-icon {
    color: $task-low-color;
  }

  .task-none, .v-filterselect-item-task-none {
    .v-icon {
      color: $task-none-color;
    }
  }

  .task-none.v-icon {
    color: $task-none-color;
  }
  /*END TASK PRIORITY STYLES*/
}