@mixin project-bug {
  /*Project Task*/
  /* TASK PRIORITY STYLES */
  $ticket-urgent-color: #d32d1a;
  $ticket-high-color: #e95948;
  $ticket-medium-color: #f09085;
  $ticket-low-color: #f7c7c1;
  $ticket-none-color: #b7b9b0;

  .ticket-urgent, .v-filterselect-item-ticket-urgent {
    .v-icon {
      color: $ticket-urgent-color;
    }
  }

  .ticket-urgent.v-icon {
    color: $ticket-urgent-color;
  }

  .ticket-high, .v-filterselect-item-ticket-high {
    .v-icon {
      color: $ticket-high-color;
    }
  }

  .ticket-high.v-icon {
      color: $ticket-high-color;
  }

  .ticket-medium, .v-filterselect-item-ticket-medium {
    .v-icon {
      color: $ticket-medium-color;
    }
  }

  .ticket-medium.v-icon {
    color: $ticket-medium-color;
  }

  .ticket-low, .v-filterselect-item-ticket-low {
    .v-icon {
      color: $ticket-low-color;
    }
  }

  .ticket-low.v-icon {
    color: $ticket-low-color;
  }

  .ticket-none, .v-filterselect-item-ticket-none {
    .v-icon {
      color: $ticket-none-color;
    }
  }

  .ticket-none.v-icon {
    color: $ticket-none-color;
  }
  /*END TASK PRIORITY STYLES*/
}