@mixin project-bug {
  /*Project Task*/
  /* TASK PRIORITY STYLES */
  $assignment-urgent-color: #d32d1a;
  $assignment-high-color: #e95948;
  $assignment-medium-color: #f09085;
  $assignment-low-color: #f7c7c1;
  $assignment-none-color: #b7b9b0;

  .assignment-urgent, .v-filterselect-item-assignment-urgent {
    .v-icon {
      color: $assignment-urgent-color;
    }
  }

  .assignment-urgent.v-icon {
    color: $assignment-urgent-color;
  }

  .assignment-high, .v-filterselect-item-assignment-high {
    .v-icon {
      color: $assignment-high-color;
    }
  }

  .assignment-high.v-icon {
      color: $assignment-high-color;
  }

  .assignment-medium, .v-filterselect-item-assignment-medium {
    .v-icon {
      color: $assignment-medium-color;
    }
  }

  .assignment-medium.v-icon {
    color: $assignment-medium-color;
  }

  .assignment-low, .v-filterselect-item-assignment-low {
    .v-icon {
      color: $assignment-low-color;
    }
  }

  .assignment-low.v-icon {
    color: $assignment-low-color;
  }

  .assignment-none, .v-filterselect-item-assignment-none {
    .v-icon {
      color: $assignment-none-color;
    }
  }

  .assignment-none.v-icon {
    color: $assignment-none-color;
  }
  /*END TASK PRIORITY STYLES*/
}