<div class="milestone-view">
<table class="milestone-view-table" cellspacing="0" cellpadding="0">
	<tr>
		<td location="closed-header" class="milestone-view-header closed-header"></td>
		<td location="in-progress-header" class="milestone-view-header in-progress-header"></td>
		<td location="future-header" class="milestone-view-header future-header"></td>
	</tr>
	<tr>
		<td location="closed-milestones" class="milestone-view-body closed-milestones" valign="top"></td>
		<td location="in-progress-milestones" class="milestone-view-body in-progress-milestones" valign="top"></td>
		<td location="future-milestones" class="milestone-view-body future-milestones" valign="top"></td>
	</tr>
</table>
</div>