@mixin project-dashboard {
  .project-dashboard {
    background-color: rgb(255, 255, 255);
    .project-info-layout {
      padding-bottom: 1.2rem;
	  .project-icon {
        font-size: 4rem;
        line-height: 5rem;
        padding: 1rem;
      }
      .project-name {
        font-weight: bold;
        font-size: 1.4rem;
        padding-top: 0.6rem;
        text-align: center;
      }
    }
  }
}