@mixin project-dashboard {
  .project-dashboard {
    .project-info-layout {
      padding-bottom: .5rem;
	  .project-icon {
        font-size: 2.5rem;
        padding: .5rem;
      }
      .project-name {
        font-weight: bold;
        font-size: 1.2rem;
        text-align: center;
      }
    }
  }
}