@mixin attachment-preview {
  .attachment-preview-view {
    background-color: #ffffff;
    .v-touchkit-navbutton-back-btn {
      background-color: rgba(0, 0, 0, 0.4);
      background-image: none;
      padding: 0.4rem 1rem;
      border: 0.1rem solid $my-separator-color;
      border-radius: 0.3rem;
      color: #fff !important;
      &::after {
        content: "";
      }
    }
    .image-wrap {
      overflow: scroll;
      white-space: nowrap;
      &:before {
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: middle;
      }
      img {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}