@mixin mycollab-button {

  .v-button {
    box-shadow: none;
    border: none;
    padding: 0;
    background-image: none;
    &:focus:after {
      box-shadow:none;
    }
    .v-icon {
      margin-left: 0px;
    }
    &.link {
      text-align: left;
      text-decoration: none;
      &:focus, &:active {
        background-color: transparent;
        border-radius: 0px;
      }
      .v-button-caption {
        text-decoration: none;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
      }
      .v-icon {
        margin-left: 0;
      }
    }
  }

  /* Ellipsis Button Link */
  .v-button-link.text-ellipsis .v-button-wrap {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }

  .v-button-wrap {
    border-left: none;
    border-right: none;
    border-bottom: none;
    padding: 6px 15px;
    margin: 0px;
    background-image: none;
  }

  .v-button.v-button-graybtn {
    background-color: #8B8B8B;
    color: white;
    font-weight: normal;
  }

  .v-button.v-button-redbtn {
    background-color: #F64A46;
    color: white;
    font-weight: normal;
  }

  .v-button.v-button-greenbtn {
    background-color: #3A97FF;
    color: white;
    font-weight: normal;
  }

  .v-button.v-button-block {
    background-color: #7ebbff;
    color: white;
    font-weight: normal;
  }

  /* End round border button */

  /* .v-buttongroup .v-button.v-button-right */

  .v-button-selected-style {
    background: none repeat scroll 0 0 #A1A1A1;
    border-color: #ABABAB;
  }

  .splitbutton .parent-button {
    border-right-width: 0px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    .v-button-wrap {
      border-right: 1px solid $my-border-color;
      padding-right: 6px;
      padding-left: 6px;
    }
  }

  .splitbutton .v-popupbutton {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 0px 10px 0px 5px;
    .v-button-wrap {
      padding-left: 3px;
      padding-right: 3px;
      .v-popup-indicator::before {
        font-size: 1em !important;
        vertical-align: middle !important;
        margin: 0 -0.2em 0 0.2em !important;
        opacity: 1 !important;
      }
    }
  }

  div.v-button-nonPopupIndicator div.v-popup-indicator {
    display: none;
  }

  .v-button.small-padding {
    &.v-pressed .v-button-wrap, .v-button-wrap {
      padding: 4px 6px;
      .v-icon {
        width: 13px;
      }
    }
    &.v-popupbutton .v-button-wrap {
      padding: 4px 6px;
      &:active {
        padding: 4px 6px;
      }
    }
  }

  div.v-button.button-icon-only, div.v-button.button-icon-only:active, div.v-button.button-icon-only:focus,
     div.v-button.button-icon-only.v-pressed {
    background-color:transparent;
    height: auto;
    .v-button-wrap {
      padding: 0px;
      &:hover {
        background-color:transparent;
      }
      .v-icon.FontAwesome {
        vertical-align: bottom;
      }
      .v-popup-indicator::before {
        content: "";
      }
    }
  }
}