@mixin mycollab-button {

  .v-button {
    box-shadow: none;
    border: none;
    padding: 0;
    background-image: none;
    &:focus:after {
      box-shadow:none;
    }
    .v-icon {
      margin-left: 0px;
    }
    &.link {
      text-align: left;
      text-decoration: none;
      &:focus, &:active {
        background-color: transparent;
        border-radius: 0px;
      }
      .v-button-caption {
        text-decoration: none;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
      }
      .v-icon {
        margin-left: 0;
      }
    }
  }

  /* Ellipsis Button Link */
  .v-button-link.text-ellipsis .v-button-wrap {
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .v-button-wrap {
    border-left: none;
    border-right: none;
    border-bottom: none;
    padding: 6px 15px;
    margin: 0px;
    background-image: none;
  }

  .v-button.v-button-graybtn, .v-button-graybtn:focus {
    background-color: #8B8B8B;
    color: white;
    font-weight: normal;
  }

  .v-button.v-button-redbtn, .v-button-redbtn:focus {
    background-color: #F64A46;
    color: white;
    font-weight: normal;
  }

  .v-button.v-button-greenbtn, .v-button-greenbtn:focus {
    background-color: #3A97FF;
    color: white;
    font-weight: normal;
  }

  /* End round border button */

  /* .v-buttongroup .v-button.v-button-right */

  .v-button-selected-style {
    background: none repeat scroll 0 0 #A1A1A1;
    border-color: #ABABAB;
  }

  .splitbutton .parent-button {
    border-right-width: 0px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    .v-button-wrap {
      border-right: 1px solid $my-border-color;
      padding-right: 6px;
      padding-left: 6px;
    }
  }

  .splitbutton .v-popupbutton {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    &:active {
      padding: 0px;
      margin:0px;
    }
    .v-button-wrap {
      padding-left: 3px;
      padding-right: 3px;
    }
  }

  div.v-button-nonPopupIndicator div.v-popup-indicator {
    display: none;
  }

  .v-splitbutton {
    .v-popupbutton.greenbtn .v-button-wrap, div.v-disabled.v-popupbutton.greenbtn .v-button-wrap, .v-popupbutton.graybtn .v-button-wrap, div.v-disabled.v-popupbutton.graybtn .v-button-wrap {
      padding: 0px;
    }
    .greenbtn, .graybtn {
      margin: 0px;
      border-radius: 3px 0px 0px 3px;
      padding: 3px 3px 3px 8px;
    }
  }

  .v-splitbutton .v-popupbutton {
    &.greenbtn, &.graybtn {
      padding: 3px 7px 3px 2px;
      &:active, &:focus {
        padding: 3px 7px 3px 2px;
      }
    }
  }

  .v-button.small-padding {
    &.v-pressed .v-button-wrap, .v-button-wrap {
      padding: 4px 6px;
      .v-icon {
        width: 13px;
      }
    }
    &.v-popupbutton .v-button-wrap {
      padding: 4px 6px;
      &:active {
        padding: 4px 6px;
      }
    }
  }

  div.v-button.button-icon-only, div.v-button.button-icon-only:active, div.v-button.button-icon-only:focus,
     div.v-button.button-icon-only.v-pressed {
    background-color:transparent;
    height: auto;
    .v-button-wrap {
      padding: 0px;
      &:hover {
        background-color:transparent;
      }
      .v-icon.FontAwesome {
        vertical-align: bottom;
      }
      .v-popup-indicator::before {
        content: "";
      }
    }
  }

  .v-button-link.block {
    line-height: 22px;
    border-radius: 5px;
    background-color: #5ca9ff;
    padding: 0px 7px 0px 7px;
    margin-right: 2px;
    &:active, &:focus {
      border-radius: 5px;
      line-height: 22px;
      background-color: #5ca9ff;
      padding: 0px 7px 0px 7px;
      margin-right: 2px;
    }
    .v-button-caption {
      color: white;
      vertical-align:sub;
    }
  }
}