@mixin mycollab-button {
  div.v-button-down:active {
    background-color: #43533E;
  }

  .v-button {
    height: 29px;
    box-shadow: none;
    &:focus:after {
      box-shadow:none;
    }
  }

  .v-button, .v-button-caption {
    text-shadow: none;
  }

  .v-button .v-icon, .v-nativebutton .v-icon {
    margin-left: 0px;
  }

  .v-disabled.v-button-link {
    color: #6482B3;
    margin: 0px;
    &:focus {
      color: #6482B3;
      margin: 0px;
    }
  }

  .v-button.v-button-link {
    margin: 0px;
    padding: 0px;
    text-align: left;
    text-decoration: none;
    &:focus, &:active {
      background-color: transparent;
      border-radius: 0px;
      margin: 0px;
      .v-button-caption {
        border: none;
        margin: 0px;
      }
    }
    .v-button-caption {
      text-decoration: none;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
    &.pending .v-button-caption {
      color: #108e2a;
    }
    &.overdue .v-button-caption {
      color: red;
    }
    &.completed .v-button-caption {
      color: black;
      text-decoration: line-through;
    }
    &.v-button-wordWrap {
      width: 100%;
      .v-button-caption {
        display: table-cell;
        white-space: normal;
        word-wrap: break-word;
        word-break: normal;
        width: 100%;
        height: 100%;
      }
    }
    &.v-button-wordWrap .v-button-wrap {
      width: 100%;
      display: table-row;
    }
    .v-icon {
      margin-left: 0;
    }
  }

  .v-disabled.v-button-link {
    color: #006dac;
    margin: 0px;
    &:focus {
      color: #006dac;
      margin: 0px;
    }
  }

  body.v-ie .v-pressed.v-button-link {
    margin: 0px;
  }

  .v-ie .v-button-wrap, .v-button-wrap, .v-disabled:active .v-button-wrap, .v-button:active .v-button-wrap {
    border-left: none;
    border-right: none;
    border-bottom: none;
    padding: 6px 15px;
    margin: 0px;
    background-image: none;
  }

  .v-ie {
    .v-pressed.v-button .v-button-wrap {
      border-left: none;
      border-right: none;
      border-bottom: none;
      padding: 6px 15px;
      margin: 0px;
      background-image: none;
    }
    .v-button-wrap {
      border-top: 1px solid transparent;
    }
  }

  .v-button-wrap, .v-disabled:active .v-button-wrap, .v-button:active .v-button-wrap {
    border-top: 1px solid transparent;
  }

  .v-button {
    border-width: 0px;
    border-style: solid;
    padding: 0;
    background-image: none;
  }

  .v-ie .v-button {
    background-image: none;
    &:active, &:focus {
      background-image: none;
    }
  }

  .v-button:active, div.v-button-down {
    background-image: none;
  }

  .v-button {
    &.v-button-blankbtn {
      background-color: #FAFAFA;
      border-color: #C8C8C8;
      border-width: 1px;
      font-weight: normal;
    }
  }

  .v-button-blankbtn:focus {
    background-color: #FAFAFA;
    border-color: #C8C8C8;
    border-width: 1px;
    font-weight: normal;
  }

  .v-button.v-button-graybtn, .v-button-graybtn:focus {
    background-color: #8B8B8B;
    color: white;
    font-weight: normal;
  }

  .v-button.v-button-redbtn, .v-button-redbtn:focus {
    background-color: #F64A46;
    color: white;
    font-weight: normal;
  }

  .v-button {
    &.v-button-redbtn:active .v-button-wrap {
      border-top-color: #BD0C09;
    }
  }

  .v-button.v-button-greenbtn, .v-button-greenbtn:focus {
    background-color: #3A97FF;
    color: white;
    font-weight: normal;
  }

  /* End round border button */

  /* Background has SELECT icon */

  .v-button.select-bg {
    height: 25px;
    width: 22px;
    background: none no-repeat 0px 0px transparent;
    border-radius: 0px 2px 2px 0px;
    border-width: 1px 1px 1px 0px;
    border-color: $my-border-color;
    position: relative;
    .v-button-wrap, &:active .v-button-wrap, &:hover .v-button-wrap {
      padding: 0px;
      margin: 0px;
      border-width: 0px;
      height: 100%;
      border-radius: 0px;
      background-color: transparent;
    }
  }

  /* End Background has SELECT icon */

  div.v-button.bold {
    > .v-button-wrap, &:active > .v-button-wrap, &:focus > .v-button-wrap {
      font-weight: bold;
    }
  }

  /* fix Image's alignment in button with word wrap style */

  .v-button-wordWrap .v-button-wrap img {
    vertical-align: bottom;
  }

  /* .v-buttongroup .v-button.v-button-right */

  .v-button-selected-style {
    background: none repeat scroll 0 0 #A1A1A1;
    border-color: #ABABAB;
  }

  /* Ellipsis Button Link */

  .v-button-link.text-ellipsis .v-button-wrap {
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .splitbutton .parent-button {
    border-right-width: 0px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    &.blankbtn .v-button-wrap {
      border-right-color: #B3B3B3;
    }
    .v-button-wrap {
      border-right: 1px solid #F9F9F9;
      padding-right: 6px;
      padding-left: 6px;
    }
  }

  .v-ie .splitbutton .parent-button .v-button-wrap {
    border-right: 1px solid #F9F9F9;
    padding-right: 6px;
    padding-left: 8px;
  }

  .splitbutton .v-popupbutton {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    &:active {
      padding: 0px;
      margin:0px;
    }
    .v-button-wrap {
      padding-left: 3px;
      padding-right: 3px;
    }
  }

  .v-ie .splitbutton .v-popupbutton .v-button-wrap {
    padding-left: 3px;
    padding-right: 3px;
  }

  div.v-button-nonPopupIndicator div.v-popup-indicator {
    display: none;
  }

  .v-splitbutton {
    .v-popupbutton.greenbtn .v-button-wrap, div.v-disabled.v-popupbutton.greenbtn .v-button-wrap, .v-popupbutton.graybtn .v-button-wrap, div.v-disabled.v-popupbutton.graybtn .v-button-wrap {
      padding: 0px;
    }
    .greenbtn, .graybtn {
      margin: 0px;
      border-radius: 3px 0px 0px 3px;
      padding: 3px 3px 3px 8px;
    }
  }

  .v-ie .v-splitbutton {
    .greenbtn, .graybtn {
      padding: 3px 3px 3px 8px;
      box-sizing: border-box;
    }
  }

  .v-splitbutton .v-popupbutton {
    &.greenbtn, &.graybtn {
      padding: 3px 7px 3px 2px;
      &:active, &:focus {
        padding: 3px 7px 3px 2px;
      }
    }
  }

  .v-popupbutton .v-button-wrap * {
    float: none;
  }

  div .v-popupbutton {
    .v-popup-indicator {
      background-position: -7px -10px !important;
      width: 18px;
    }
  }

  .v-popupbutton .v-button-caption:before {
    content: "";
    display: inline-block;
  }

  .v-ie {
    .v-popupbutton {
      .v-button-wrap, &:active .v-button-wrap, &:focus .v-button-wrap {
        padding: 6px 3px;
      }
    }
  }

  .v-popupbutton {
    .v-button-wrap, &:active .v-button-wrap {
      padding: 6px 3px;
    }
  }

  .v-popupbutton.h2 .v-button-wrap .v-button-caption {
    font-size: $font-large;
    font-weight: bold;
    color: rgb(34, 34, 34);
  }

  .v-popupbutton-popup.v-popupbutton-popup-select-bg {
    background-color: #FFF;
    border: 1px solid #A8A8A8;
    border-radius: 0px;
    padding: 0px;
  }

  .v-button.small-padding {
    &.v-pressed .v-button-wrap, .v-button-wrap {
      padding: 4px 6px;
      .v-icon {
        width: 13px;
      }
    }
    &.v-popupbutton .v-button-wrap {
      padding: 4px 6px;
      &:active {
        padding: 4px 6px;
      }
    }
  }

  div.v-button.button-icon-only, div.v-button.button-icon-only:active, div.v-button.button-icon-only:focus,
     div.v-button.button-icon-only.v-pressed {
    background-color:transparent;
    height: auto;
    .v-button-wrap {
      padding: 0px;
      &:hover {
        background-color:transparent;
      }
      .v-icon.FontAwesome {
        vertical-align: bottom;
      }
      .v-popup-indicator::before {
        content: "";
      }
    }
  }

  .v-popupbutton .v-popup-indicator:before {
    margin: 0px !important;
  }

  .v-button-link.block {
    line-height: 22px;
    border-radius: 5px;
    background-color: #5ca9ff;
    padding: 0px 7px 0px 7px;
    margin-right: 2px;
    &:active, &:focus {
      border-radius: 5px;
      line-height: 22px;
      background-color: #5ca9ff;
      padding: 0px 7px 0px 7px;
      margin-right: 2px;
    }
    .v-button-caption {
      color: white;
      vertical-align:sub;
    }
  }
}