@mixin section-header() {
  padding: 25px 5px 5px 5px;
  font-size: $font-larger;
  color: $my-title-color;
  border-bottom: 1px solid $my-separator-color;
}

@mixin mycollab-form {
  .form {
    .section {
      @include section-header();
    }
  }

  .v-gridlayout.colored-gridlayout {
    .gridform-caption, .gridform-field {
      @include margin-container(14px, 8px, 8px, 0px);
      border-bottom: 1px solid $my-separator-color;
    }
    .gridform-field {
      min-height: 46px;
    }
    .gridform-caption {
      min-height: 46px;
      .v-label {
        text-align: right;
        color: #999;
      }
    }
  }

  /* Activity component style */
  .activity-comp {
    .section {
      @include section-header();
      .v-select-optiongroup-sortDirection .v-select-option {
        display: inline-block;
        &.v-radiobutton{
          padding-right: 10px;
          font-size: $font-normal;
          color: black;
        }
      }
    }
  }
}