@mixin mycollab-crm {
  .h-sidebar-menu {
    height: 50px;
    position: relative;
    background-color:cadetblue;
    > div {
      display: inline-block;
      zoom: 1;
      *display: inline;
      position: relative;
    }
    .v-button {
      &.v-button-link {
        &:focus, &:active {
          height: 50px;
          margin: 0px;
          padding: 0px;
          background: none no-repeat 0 0 transparent;
        }
        height: 50px;
        margin: 0px;
        padding: 0px;
        background: none no-repeat 0 0 transparent;
        &.isSelected {
          background-color: #FFF;
        }
        &:focus .v-button-caption, &:active .v-button-caption {
          color: #FFF;
        }
      }
      border-radius: 0px;
      box-shadow: initial;
      -webkit-box-shadow: initial;
      -moz-box-shadow: initial;
      display: inline-block;
      *display: inline;
      zoom: 1;
      position: relative;
      .v-button-wrap {
        border-radius: 0px;
        box-shadow: initial;
        -webkit-box-shadow: initial;
        -moz-box-shadow: initial;
        display: inline-block;
        *display: inline;
        zoom: 1;
        position: relative;
      }
    }
  }

  .v-ie .h-sidebar-menu .v-pressed.v-button-link {
    margin: 0px;
  }

  .h-sidebar-menu .v-button-link .v-button-wrap, .v-ie .h-sidebar-menu .v-pressed.v-button-link .v-button-wrap {
    display: inline-block;
    *display: inline;
    zoom: 1;
    position: relative;
    padding: 17px 18px;
    color: #FFF;
  }

  .h-sidebar-menu {
    div.v-button-link {
      &:active .v-button-wrap, &:focus .v-button-wrap {
        display: inline-block;
        *display: inline;
        zoom: 1;
        position: relative;
        padding: 17px 18px;
      }
    }
    .v-button-link .v-button-wrap:active {
      display: inline-block;
      *display: inline;
      zoom: 1;
      position: relative;
      padding: 17px 18px;
    }
    .v-popupbutton {
      .v-button-wrap, &:active .v-button-wrap {
        display: inline-block;
        *display: inline;
        zoom: 1;
        position: relative;
        padding: 17px 18px;
      }
    }
    div.v-disabled.v-button-link .v-button-wrap {
      display: inline-block;
      *display: inline;
      zoom: 1;
      position: relative;
      padding: 17px 18px;
    }
    .v-button-link:first-child .v-button-wrap {
      border: none;
    }
  }

  .v-ie .h-sidebar-menu .v-pressed.v-button-link:first-child .v-button-wrap {
    border: none;
  }

  .h-sidebar-menu {
    div.v-button-link {
      &:active:first-child .v-button-wrap, &:focus:first-child .v-button-wrap {
        border: none;
      }
    }
    .v-button-link {
      &:first-child .v-button-wrap:active {
        border: none;
      }
      .v-button-caption {
        text-decoration: none;
        color: #FFF;
        text-shadow: none;
        font-weight: bold;
        font-family: $font-family;
        font-size: $font-normal;
      }
    }
    .v-button.v-button-link.isSelected .v-button-caption {
      color: #535353;
      &:hover {
        color: #535353;
      }
    }
  }
}