@mixin mycollab-project {
  /* My Project List */

  .myprojectlist {
    .projectblock {
      padding: 0px;
      background-color: #FFF;
      border-color: $border-color;
      border-width: 0px 1px 1px;
      border-style: solid;
      &:hover {
        background-color: $hover-background-color;
      }
      .projectlink-wrapper, .projectlink-wrapper-archived {
        border-right: 1px solid $border-color;

        padding: 10px 15px 8px;
        .project-name {
          .v-button-wrap {
            padding: 0px 0px 10px;
          }
          a {
            font-size: $font-large;
            font-weight: bold;
          }
        }
      }
      .projectlink-wrapper {
        background-color: lavenderblush;
        &:hover {
          background-color: $hover-background-color;
        }
      }
      .projectlink-wrapper-archived {
        background-color: darkgray;
        &:hover {
          background-color: $hover-background-color;
        }
      }
    }
  }

  .v-window-contents .myprojectlist .bean-list {
    border-top: 1px solid $border-color;
  }

  .project-status {
    .v-verticallayout {
      &.v-margin-top {
        padding-top: 8px;
      }
      &.v-margin-right {
        padding-right: 15px;
      }
      &.v-margin-bottom {
        padding-bottom: 5px;
      }
      &.v-margin-left {
        padding-left: 15px;
      }
    }
    .member-count-lbl .v-button-wrap {
      padding: 0px;
      border: none;
    }
    .createdtime-lbl {
      color: #808080;
      font-size: $font-small;
    }
    .status-lbl {
      color: #888;
    }
    .v-slot-phase-status-lbl:after {
      border-top: 3px double $border-color;
      display: block;
      height: 1px;
      content: " ";
      width: 300px;
      position: absolute;
      left: 50px;
      top: 1.1em;
      z-index: 0;
    }
    .phase-status-lbl {
      position: relative;
      z-index: 1;
      padding-right: 5px;
    }
    .phase-status-layout {
      padding-top: 5px;
    }
    .phase-status-btn {
      .v-button-wrap, &:hover .v-button-wrap {
        padding: 0px;
        border: none;
        background: none;
        border: none;
      }
      padding: 0px;
      border: none;
      background: none;
      .v-button-caption {
        font-size: 18px;
        font-weight: 700;
        small {
          font-weight: 400;
          font-size: $font-small;
          display: block;
        }
      }
    }
  }

  .prj-list-row {
    background-color: #FFF;
    border-color: $border-color;
    border-width: 0px 1px 1px;
    border-style: solid;
    padding: 0px;
    &:nth-child(odd) {
      background-color: $background-color;
    }
    &:nth-child(even) {
      background-color: #FFF;
    }
    &:hover {
      background-color: $hover-background-color;
    }
  }

  /* Milestone Box */

  .milestone-box {
    margin-top: 25px;
    background-color: beige;
    border-color: #BEBEBE;
    border-style: solid;
    border-width: 1px 1px 1px 6px;
    padding: 12px 20px 10px;
    .v-button-link {
      margin: 0 auto;
    }
    .milestone-name {
      font-size: $font-large;
      border-bottom: 1px dashed #BEBEBE !important;
      padding-bottom: 8px;
      &:focus {
        font-size: $font-large;
        border-bottom: 1px dashed #BEBEBE !important;
        padding-bottom: 8px;
      }
    }
    > .v-horizontallayout {
      display: block;
    }
  }

  .milestone-view-body > div > .v-verticallayout > div > div:first-child > div > .milestone-box {
    border: none;
    > .v-csslayout-margin {
      padding-top: 5px;
    }
  }

  .milestone-view-header > .v-horizontallayout {
    margin: 0 auto;
  }

  /* End Milestone Box */

  .widget-short-prj-name {
    width: 60px;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: $border-color;
    background-color:lavenderblush;
    font-weight:bold;
    font-size:$font-large;
  }

  .instruction-box {
    background-color: bisque;
    padding: 10px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin-top: 15px;
  }

  .projectinfo {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid $border-color;
    background: none no-repeat left top #FFF;
    border-radius: 0px;
  }

  .message-toppanel {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid $border-color;
    background: none no-repeat left top $background-color;
    border-radius: 0px;
  }

  .projectinfo-header, .message-toppanel-header {
    font-size: $font-normal;
    border-bottom: 1px solid $border-color;
    padding-bottom: 0.2em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: none no-repeat left top $panel-background-color;
    border-radius: 0px;
  }

  .projectinfo-header {
    &.v-margin-top {
      padding-top: 7px;
    }
    &.v-margin-right {
      padding-right: 10px;
    }
    &.v-margin-bottom {
      padding-bottom: 7px;
    }
    &.v-margin-left {
      padding-left: 18px;
    }
  }

  .message-toppanel-header {
    &.v-margin-top {
      padding-top: 3px;
    }
    &.v-margin-right {
      padding-right: 10px;
    }
    &.v-margin-bottom {
      padding-bottom: 2px;
    }
    &.v-margin-left {
      padding-left: 18px;
    }
  }

  .projectinfo-header {
    .project-name {
      font-weight: bold;
      font-size: $font-large;
      color: #313131;
    }
    .project-shortname {
      color: gray;
    }
  }

  .projectinfo-footer {
    &.v-margin-top {
      padding-top: 5px;
    }
    &.v-margin-right {
      padding-right: 5px;
    }
    &.v-margin-bottom {
      padding-bottom: 5px;
    }
    &.v-margin-left {
      padding-left: 18px;
    }
  }

  .projectfeed-hdr-wrapper {
    background: none repeat-x left bottom brown;
    padding: 15px 30px;
    .h1 {
      padding: 0px;
      color: white;
    }
    .h2, .v-button-link .v-button-caption {
      color: white;
    }
  }

  .member-preview-form {
    border: 1px solid $border-color;
    padding: 30px;
    background-color: #E9F2F7;
    div.v-csslayout.member-block {
      border-radius: 0px;
      border: none;
      padding: 0px;
      margin: 0px;
      width: 350px;
    }
    .member-block .member-info.v-margin-left {
      padding-left: 20px;
    }
  }

  .project-tableless {
    display: table;
    width: 100%;
    &:hover {
      background-color: beige;
    }
    .columnExpand {
      display: table-cell;
      line-height: 20px;
      padding: 5px;
      padding-left:0px;
    }
    .column100 {
      display: table-cell;
      width: 100px;
      padding: 5px;
      padding-left:0px;
    }
    .column200 {
      display: table-cell;
      width: 200px;
      padding: 5px;
      padding-left:0px;
    }
  }

  /* Form Container View Field */

  .form-container div.v-button-link.v-button-block {
    line-height: 22px;
    background-color: blueviolet;
    padding: 0px 7px 0px 7px;
    &:active, &:focus {
      line-height: 22px;
      background-color: blueviolet;
      padding: 0px 7px 0px 7px;
      margin-right: 2px;
    }
  }

  .form-container .v-button-link.v-button-block .v-button-caption {
    color: white;
  }

  .task-attached {
    background: none;
    padding: 0px 7px 1px;
    margin-right: 2px;
    color: #3333EC;
    pointer: none;
  }



  /* End Form Container View Field */
}